/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

html|body,
xul|page,
xul|window {
  font: message-box;
  -moz-appearance: none;
  background-color: #fbfbfb;
  color: #424e5a;
}

html|body {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

html|h1 {
  font-size: 2.5em;
  font-weight: lighter;
  line-height: 1.2;
  color: #333;
  margin: 0;
  margin-bottom: .5em;
}

html|hr {
  border-style: solid none none none;
  border-color: #c1c1c1;
}

xul|caption {
  -moz-appearance: none;
  margin: 0;
}

xul|caption > xul|checkbox,
xul|caption > xul|label {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 22px;
  margin: 0 !important;
}

xul|description {
  -moz-margin-start: 0;
}

/* Set the page frame for the options page content with round corners */
/* @-moz-document url-prefix("about:preferences"){ */
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack{
    min-height: 214px;  /* If the viewport is too small some content will be hidden! */
    padding: 18px;
    background-color: #F8F8F8;
  }

  /* Hide anything beyond the round corners */
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox:first-child{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  /* Draw round corners borders that may be missing on top of the .main-content */
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox:first-child::before,
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox:first-child::after{
    position: absolute;
    z-index: 2000000;
    width:5px;
    height:5px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: transparent;
    -moz-border-start-width: 0;
    content: "";
  }
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox:-moz-locale-dir(rtl):first-child::before{
    top: 0;
    left: 0;
    border-bottom-width: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; /* To lessen the effect of covering the corner element, i.e., the scrollbar button --johnGraciliano */
  }
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox:-moz-locale-dir(ltr):first-child::before{
    top: 0;
    right: 0;
    border-bottom-width: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; /* To lessen the effect of covering the corner element, i.e., the scrollbar button --johnGraciliano */
  }
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox:-moz-locale-dir(rtl):first-child::after{
    bottom: 0;
    left: 0;
    border-top-width: 0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px; /* To lessen the effect of covering the corner element, i.e., the scrollbar button --johnGraciliano */
  }
  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox:-moz-locale-dir(ltr):first-child::after{
    bottom: 0;
    right: 0;
    border-top-width: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px; /* To lessen the effect of covering the corner element, i.e., the scrollbar button --johnGraciliano */
  }

  /* xul|page[title="Options"] > */ script[src$="preferences.js"] ~ stack > hbox > vbox.main-content{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    background-image: -moz-linear-gradient(top,
                                           rgba(255, 255, 255, 0),
                                           rgba(255, 255, 255, 0.75));
    padding-top: 25px;
    -moz-padding-end: 44px; /* compensate the 4px margin of child elements */
    padding-bottom: 40px;
    -moz-padding-start: 48px;
    overflow: auto;
  }
/* } */

xul|prefpane > xul|*.content-box {
  overflow: visible;
}

/* groupboxes */

xul|groupbox {
  -moz-appearance: none;
  border: none;
  margin: 15px 0 0;
  -moz-padding-start: 0;
  -moz-padding-end: 0;
  font-size: 1.25rem;
}

xul|groupbox xul|label {
  /* !important needed to override toolkit !important rule */
  -moz-margin-start: 0 !important;
  -moz-margin-end: 0 !important;
}

/* tabpanels and tabs */

xul|tabpanels {
  -moz-appearance: none;
  font-size: 1.25rem;
  line-height: 22px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
}

xul|tabs {
  position:relative;
  margin: 8px 0 15px;
  -moz-margin-end: 4px;
  border: 0;
  border-bottom: 1px solid #c1c1c1;
}

xul|*.tabs-left,
xul|*.tabs-right {
  border-bottom: none;
}

xul|tab {
  -moz-appearance: none;
  position: relative;
  margin-top: 0;
  -moz-margin-end: -1px;
  padding: 4px 20px;
  min-height: 44px;
  max-height: 45px;
  height: 45px;
  color: #6d6d6d;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-width: 0;
  border-radius: 0;
  transition: background-color 50ms ease 0s,
              border-color 150ms ease 0s;
}
xul|tab:last-of-type{
  -moz-margin-end: 0;
}

xul|tab::before{
  display: block;
  margin: calc(.5em - 4px);
  -moz-margin-start: -21px;
  -moz-margin-end: 20px;
  height: calc(44px - 1em);
  border-right: 1px solid #c1c1c1;
  transition: border-color 150ms ease 0s;
  content: ""; /* just show a border! */
}
xul|tab:first-of-type::before{
  border-color: transparent;
}
xul|tabs:hover > tab::before{
  border-color: transparent;
}

xul|tabs:hover > tab:-moz-locale-dir(ltr){
  border-left-color: #c1c1c1;
  border-top-color: #c1c1c1;
}
xul|tabs:hover > tab:-moz-locale-dir(rtl){
  border-right-color: #c1c1c1;
  border-top-color: #c1c1c1;
}
xul|tabs:hover > tab:last-of-type:-moz-locale-dir(ltr){
  border-right-color: #c1c1c1;
}
xul|tabs:hover > tab:last-of-type:-moz-locale-dir(rtl){
  border-left-color: #c1c1c1;
}

xul|tab:hover {
  background-color: #ebebeb;
}

xul|tab[selected] {
  z-index: 2;
  background-color: #ebebeb;
  color: #424e5a;
  border-color: #c1c1c1;
  transition: background-color 50ms ease 0s, 
              border-color 0ms ease 0s;
}
xul|tab[selected]::before,
xul|tab[selected] + tab::before{
  border-color: transparent;
  transition: border-color 0ms ease 0s;
}

xul|tab[selected] + tab:-moz-locale-dir(ltr){
  border-left-color: transparent;
  transition: background-color 50ms ease 0s, 
              border-left-color 0ms ease 0s,
              border-color 150ms ease 0s;
}
xul|tab[selected] + tab:-moz-locale-dir(rtl){
  border-left-color: transparent;
  transition: background-color 50ms ease 0s, 
              border-right-color 0ms ease 0s,
              border-color 150ms ease 0s; 
}

xul|*.tab-text {
  font-size: 1.4rem;
  font-weight: 600; /* semi-bold --johnGraciliano */
  line-height: 22px;
}


/* html buttons */

html|button {
  padding: 3px;
  /* override forms.css */
  font: inherit;
}

/* xul buttons and menulists */

*|button,
xul|colorpicker[type="button"],
xul|menulist {
  -moz-appearance: none;
  height: 30px;
  color: #333;
  line-height: 20px;
  border: 1px solid #c1c1c1;
  -moz-border-top-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  border-radius: 2px;
  background-color: #fbfbfb;
}

html|button:enabled:hover,
xul|button:not([disabled="true"]):hover,
xul|colorpicker[type="button"]:not([disabled="true"]):hover,
xul|menulist:not([disabled="true"]):hover {
  background-color: #ebebeb;
}

html|button:enabled:hover:active,
xul|button:not([disabled="true"]):hover:active,
xul|colorpicker[type="button"]:not([disabled="true"]):hover:active,
xul|menulist[open="true"]:not([disabled="true"]) {
  background-color: #dadada;
}

html|button:disabled,
xul|button[disabled="true"],
xul|colorpicker[type="button"][disabled="true"],
xul|menulist[disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

*|button.primary {
  background-color: #0095dd;
  border-color: transparent;
  color: #fff;
}

html|button.primary:enabled:hover,
xul|button.primary:not([disabled="true"]):hover {
  background-color: #008acb;
}

html|button.primary:enabled:hover:active,
xul|button.primary:not([disabled="true"]):hover:active {
  background-color: #006b9d;
}

xul|colorpicker[type="button"] {
  padding: 6px;
  width: 50px;
}

xul|button > xul|*.button-box,
xul|menulist > xul|*.menulist-label-box {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

xul|menulist > xul|*.menulist-label-box > xul|*.menulist-icon[src] {
  -moz-margin-end: 5px;
}

xul|button[type="menu"] > xul|*.button-box > xul|*.button-menu-dropmarker {
  -moz-appearance: none;
  margin: 1px 0;
  -moz-margin-start: 10px;
  padding: 0;
  width: 10px;
  height: 16px;
  border: none;
  background-color: transparent;
  list-style-image: url("chrome://global/skin/in-content/dropdown.svg#dropdown");
}

xul|*.help-button {
  min-width: 16px;
  -moz-margin-end: 0;
  border-width: 0;
  background-image: none;
  /* Override default button background */
  background-color: transparent;
  box-shadow: none;
  list-style-image: url("chrome://global/skin/in-content/help-glyph.svg#help");
}

xul|*.help-button:not([disabled="true"]):hover {
  background-image: none;
  /* Override default button background */
  background-color: transparent;
  list-style-image: url("chrome://global/skin/in-content/help-glyph.svg#help-hover");
}

xul|*.help-button:not([disabled="true"]):hover:active {
  background-image: none;
  /* Override default button background */
  background-color: transparent;
  list-style-image: url("chrome://global/skin/in-content/help-glyph.svg#help-pressed");
}

xul|*.close-icon > xul|*.button-box,
xul|*.help-button > xul|*.button-box {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

xul|*.help-button > xul|*.button-box > xul|*.button-icon {
  width: 18px;
  height: 18px;
}

xul|*.help-button > xul|*.button-box > xul|*.button-text {
  display: none;
}

/* Special dimensions for the help button in the options page  --johnGraciliano */
script[src$="preferences.js"] ~ stack  *|button.help-button {
  position: relative;
  z-index: 1;
  height: unset;
  margin: -1px;
  -moz-margin-end: 0;
}

/* Reposition the help buttom from the bottom to the top of the options page  --johnGraciliano */
script[src$="preferences.js"] ~ stack  .main-content{
  position: relative;
}
script[src$="preferences.js"] ~ stack  .main-content > hbox:last-child {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  max-width: calc(100% - 96px);
  width: 796px ;
}

xul|*.spinbuttons-button {
  -moz-margin-start: 10px !important;
  -moz-margin-end: 2px !important;
}

xul|*.spinbuttons-up {
  margin-top: 2px !important;
  border-radius: 1px 1px 0 0;
}

xul|*.spinbuttons-down  {
  margin-bottom: 2px !important;
  border-radius: 0 0 1px 1px;
}

xul|*.spinbuttons-button > xul|*.button-box {
  padding: 1px 5px 2px !important;
}

xul|*.spinbuttons-up > xul|*.button-box > xul|*.button-icon {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

xul|*.spinbuttons-up[disabled="true"] > xul|*.button-box > xul|*.button-icon {
  list-style-image: url("chrome://global/skin/arrow/arrow-up-dis.gif");
}

xul|*.spinbuttons-down > xul|*.button-box > xul|*.button-icon {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

xul|*.spinbuttons-down[disabled="true"] > xul|*.button-box > xul|*.button-icon {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}

xul|menulist:not([editable="true"]) > xul|*.menulist-dropmarker {
  -moz-appearance: none;
  -moz-margin-end: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  list-style-image: url("chrome://global/skin/in-content/dropdown.svg#dropdown");
}

xul|menulist:not([editable="true"]) > xul|*.menulist-dropmarker > xul|*.dropmarker-icon {
  width: 18px;
  height: 18px;
}

xul|menulist[disabled="true"]:not([editable="true"]) > xul|*.menulist-dropmarker {
  list-style-image: url("chrome://global/skin/in-content/dropdown.svg#dropdown-disabled")
}

xul|menulist > xul|menupopup,
xul|button[type="menu"] > xul|menupopup {
  -moz-appearance: none;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  background-color: #fff;
}

xul|menulist > xul|menupopup xul|menu,
xul|menulist > xul|menupopup xul|menuitem,
xul|button[type="menu"] > xul|menupopup xul|menu,
xul|button[type="menu"] > xul|menupopup xul|menuitem {
  -moz-appearance: none;
  font-size: 1em;
  color: #333;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  -moz-padding-start: 10px;
  -moz-padding-end: 30px;
}

xul|menulist > xul|menupopup > xul|menu[_moz-menuactive="true"],
xul|menulist > xul|menupopup > xul|menuitem[_moz-menuactive="true"],
xul|button[type="menu"] > xul|menupopup > xul|menu[_moz-menuactive="true"],
xul|button[type="menu"] > xul|menupopup > xul|menuitem[_moz-menuactive="true"] {
  color: #333;
  background-color: rgba(0,149,221,0.25);
}

xul|menulist > xul|menupopup > xul|menu[selected="true"],
xul|menulist > xul|menupopup > xul|menuitem[selected="true"],
xul|button[type="menu"] > xul|menupopup > xul|menu[selected="true"],
xul|button[type="menu"] > xul|menupopup > xul|menuitem[selected="true"] {
  color: #fff;
  background-color: #0095DD;
}

xul|menulist > xul|menupopup xul|menuseparator,
xul|button[type="menu"] > xul|menupopup xul|menuseparator {
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #c1c1c1;
  border-bottom: none;
}

/* textboxes */

*|textbox {
  -moz-appearance: none;
  height: 30px;
  color: #333;
  line-height: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #c1c1c1;
  -moz-border-top-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  border-radius: 2px;
  background-color: #fff;
}

html|textbox:focus,
xul|textbox[focused] {
  border-color: #424e5a;
}

html|textbox:not(:disabled):not(:focus):hover,
xul|textbox:not([disabled="true"]):not([focused]):hover {
  border-color: #7b7b7b;
}

html|textbox:disabled,
xul|textbox[disabled="true"] {
  opacity: 0.5;
}

/* Links */

html|a,
.text-link,
.inline-link {
  line-height: 22px;
  color: #0095dd;
  text-decoration: none;
}

html|a:hover,
.text-link:hover,
.inline-link:hover {
  color: #178ce5;
  text-decoration: underline;
}

html|a:hover:active,
.text-link:hover:active,
.inline-link:hover:active {
  color: #ff9500;
  text-decoration: none;
}

/* Checkboxes and radio buttons */

/* Hide the actual checkbox */
html|input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

/* Create a box to style as the checkbox */
html|input[type="checkbox"] + html|label:before {
  display: inline-block;
  content: "";
  vertical-align: middle;
}

html|input[type="checkbox"] + html|label {
  line-height: 0px;
}

xul|checkbox {
  -moz-margin-start: 0;
}

xul|*.checkbox-check,
html|input[type="checkbox"] + html|label:before {
  -moz-appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  -moz-margin-end: 10px;
  background: initial !important;  /* !important needed to override toolkit checked !important rule */
}

xul|checkbox:not([disabled="true"]):hover > xul|*.checkbox-check,
html|input[type="checkbox"]:not(:disabled) + html|label:hover:before {
  border-color: #7b7b7b;
}

xul|*.checkbox-check[checked] {
  list-style-image: url("chrome://global/skin/in-content/check.svg#check");
}

html|input[type="checkbox"]:checked + html|label:before {
  background-image: url("chrome://global/skin/in-content/check.svg#check") !important;
}

xul|checkbox[disabled="true"] > xul|*.checkbox-check,
html|input[type="checkbox"]:disabled + html|label {
  opacity: 0.5;
}

xul|*.checkbox-label-box {
  -moz-margin-start: -1px; /* negative margin for the transparent border */
  -moz-padding-start: 0;
}

xul|richlistitem > xul|*.checkbox-check {
  margin: 3px 6px;
}

xul|radio {
  -moz-margin-start: 0;
}

xul|*.radio-check {
  -moz-appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid #c1c1c1;
  border-radius: 50%;
  -moz-margin-end: 10px;
  background: initial;
}

xul|radio:not([disabled="true"]):hover > xul|*.radio-check {
  border-color: #7b7b7b;
}

xul|*.radio-check[selected] {
  list-style-image: url("chrome://global/skin/in-content/radio.svg#radio");
}

xul|radio[disabled="true"] > xul|*.radio-check {
  opacity: 0.5;
}

xul|*.radio-label-box {
  -moz-margin-start: -1px; /* negative margin for the transparent border */
  -moz-margin-end: 10px;
  -moz-padding-start: 0;
}

/* Category List */

xul|*#categories {
  -moz-appearance: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  margin: 0;
  -moz-margin-start: 4px;
  -moz-margin-end: -1px;
  margin-top: 74px;
  margin-bottom: 7px;
  border-width: 0;
}

xul|*.category {
  -moz-appearance: none;
  background-color: transparent;
  color: #3b3b3b;
  -moz-padding-start: 4px;
  -moz-padding-end: 27px;
  border: 1px solid transparent;
  min-height: 0;
  height: 52px;
  -moz-box-align: center;
  overflow: hidden;
  transition: background-color 150ms;
}
xul|*.category:-moz-locale-dir(ltr) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
xul|*.category:-moz-locale-dir(rtl) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

xul|*.category[selected] {
  background-color: #fdfdfd;
  border-color: #ccc;
  -moz-border-end-color: #E8E8E8;
}

xul|*#categories[keyboard-navigation="true"]:-moz-focusring > xul|*.category[current] {
  border: 1px #999 dotted;
  -moz-border-end: 1px solid #E8E8E8;
}

*|*.category-name {
  line-height: -moz-use-system-font;
  font-size: 1.5rem;
  padding: 0;
  margin: 1px 5px 2px;
  -moz-margin-start: 6px;
  -moz-user-select: none;
}
/* Allow more space to the .main-content when the window is narrow */
@media (max-width: 800px) {
  *|*.category-name {
    display: none;
  }
}

*|*.category-icon {
  width: 32px;
  height: 32px;
  -moz-margin-start: 6px;
}

/* header */

*|*.header {
  border-bottom: 1px solid #c8c8c8;
  -moz-margin-end: 4px; /* add the 4px end-margin of other elements */
  margin-bottom: 15px;
  padding-bottom: 15px;
}

*|*.header-name {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  -moz-user-select: none;
}

/*  No text headers in the options page, but a smaller space for the help button  --johnGraciliano */
script[src$="preferences.js"] ~ stack .header{
  border: none;
  margin: -10px 0 -7px;
  -moz-margin-end: 4px; /* add the 4px end-margin of other elements */
  padding-bottom: 0;
}
script[src$="preferences.js"] ~ stack .header-name{
  height: 18px;
  font-size: 0;
  line-height: 0;
  color: transparent;
}

/* File fields */

xul|filefield {
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

xul|*.fileFieldContentBox {
  background-color: transparent;
}

xul|*.fileFieldIcon {
  -moz-margin-start: 10px;
  -moz-margin-end: 0;
}

xul|*.fileFieldLabel {
  -moz-margin-start: -26px;
  -moz-padding-start: 36px;
}

/*
xul|textbox:-moz-locale-dir(rtl),
xul|*.fileFieldLabel:-moz-locale-dir(rtl),
xul|textbox + xul|button:-moz-locale-dir(ltr),
xul|filefield + xul|button:-moz-locale-dir(ltr) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

xul|textbox:-moz-locale-dir(ltr),
xul|*.fileFieldLabel:-moz-locale-dir(ltr),
xul|textbox + xul|button:-moz-locale-dir(rtl),
xul|filefield + xul|button:-moz-locale-dir(rtl) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
*/

/** I don't like this rule --johnGraciliano       **%
 ** It's complement is a rule in preferences.css  **%
 ** (a bad coding practice!).  I removed them     **%
 ** for being an unnecessary decoration.          **%
 ** It needs the preceeding rules I also removed  **%
 ** because they created bad style elsewhere!     **%
xul|textbox + xul|button,
xul|filefield + xul|button {
  -moz-border-start: none;
}
 ***************************************************/

/* List boxes */

xul|richlistbox,
xul|listbox {
  -moz-appearance: none;
  -moz-margin-start: 0;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  color: #333;
}

xul|treechildren::-moz-tree-row,
xul|listbox xul|listitem {
  padding: 0.3em;
  margin: 0;
  border: none;
  border-radius: 0;
  background-image: none;
}

xul|treechildren::-moz-tree-row(hover),
xul|listbox xul|listitem:hover {
  background-color: rgba(0,149,221,0.25);
}

xul|treechildren::-moz-tree-row(selected),
xul|listbox xul|listitem[selected="true"] {
  background-color: #0095dd;
  color: #fff;
}

/* Trees */

xul|tree {
  -moz-appearance: none;
  font-size: 1em;
  border: 1px solid #c1c1c1;
  margin: 0;
}

xul|tree:-moz-focusring,
xul|richlistbox:-moz-focusring {
  border: 1px dotted #0095dd;
}

xul|listheader,
xul|treecols {
  -moz-appearance: none;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  padding: 0;
}

xul|treecol:not([hideheader="true"]),
xul|treecolpicker {
  -moz-appearance: none;
  border: none;
  background-color: #ebebeb;
  color: #808080;
  padding: 5px 10px;
}

xul|treecol:not([hideheader="true"]):not([sortable="false"]):hover,
xul|treecolpicker:hover {
  background-color: #dadada;
  color: #333;
}

xul|treecol:not([hideheader="true"]):not(:first-child),
xul|treecolpicker {
  -moz-border-start-width: 1px;
  -moz-border-start-style: solid;
  border-image: linear-gradient(transparent 0%, transparent 20%, #c1c1c1 20%, #c1c1c1 80%, transparent 80%, transparent 100%) 1 1;
}

xul|treecol:not([hideheader="true"]) > xul|*.treecol-sortdirection[sortDirection] {
  list-style-image: url("chrome://global/skin/in-content/dropdown.svg#dropdown");
  width: 18px;
  height: 18px;
}

xul|treecol:not([hideheader="true"]) > xul|*.treecol-sortdirection[sortDirection="ascending"] {
  transform: scaleY(-1);
}

/* This is the only way to increase the height of a tree row unfortunately */
xul|treechildren::-moz-tree-row {
  min-height: 2em;
}

/* Color needs to be set on tree cell in order to be applied */
xul|treechildren::-moz-tree-cell-text {
  color: #333;
}

xul|treechildren::-moz-tree-cell-text(selected) {
  color: #fff;
}

xul|caption {
  background-color: transparent;
}

xul|button,
html|button,
xul|colorpicker[type="button"],
xul|menulist {
  margin: 2px 4px;
}

xul|menulist:not([editable="true"]) > xul|*.menulist-dropmarker {
  margin-top: 1px;
  margin-bottom: 1px;
}

xul|checkbox {
  -moz-padding-start: 0;
}

@media not all and (-moz-windows-default-theme) {
  xul|*.checkbox-check {
    background-image: none !important;
  }

  xul|*.checkbox-check[checked] {
    list-style-image: url("chrome://global/skin/in-content/check.svg#check-native");
    background-color: -moz-dialog;
  }
}

xul|radio {
  -moz-binding: url("chrome://global/content/bindings/radio.xml#radio");
  -moz-padding-start: 0;
}

@media not all and (-moz-windows-default-theme) {
  xul|*.radio-check {
    background-image: none;
  }

  xul|*.radio-check[selected] {
    list-style-image: url("chrome://global/skin/in-content/radio.svg#radio-native");
    background-color: -moz-dialog;
  }
}

xul|*.radio-icon,
xul|*.checkbox-icon {
  -moz-margin-end: 0;
}

html|a:-moz-focusring,
xul|*.text-link:-moz-focusring,
xul|*.inline-link:-moz-focusring {
  border: 1px dotted -moz-DialogText;
}

/* Don't draw a transparent border for the focusring because when page
   colors are disabled, the border is drawn in -moz-DialogText */
xul|*.text-link:not(:-moz-focusring),
xul|button:not(:-moz-focusring) > xul|*.button-box,
xul|menulist:not(:-moz-focusring) > xul|*.menulist-label-box,
xul|radio:not([focused="true"]) > xul|*.radio-label-box,
xul|checkbox:not(:-moz-focusring) > xul|*.checkbox-label-box {
  border-width: 0;
  margin: 1px;
}

xul|*.text-link:not(:-moz-focusring) {
  margin-top: 2px;
  margin-right: 1px !important;
  margin-left: 1px !important;
  margin-bottom: 3px;
}

xul|menulist:not(:-moz-focusring) > xul|*.menulist-label-box {
  margin: 2px;
}

xul|radio:not([focused="true"]) > xul|*.radio-label-box,
xul|checkbox:not(:-moz-focusring) > xul|*.checkbox-label-box {
  -moz-margin-start: 0;
}

/* Use a 2px border so that selected row highlight is still visible behind
    an existing high-contrast border that uses the background color */
@media not all and (-moz-windows-default-theme) {
  xul|treechildren::-moz-tree-row(selected),
  xul|listbox xul|listitem[selected="true"] {
     border: 2px dotted Highlight;
  }
}

/* @-moz-document url-prefix("about:privatebrowsing"){ */
  div#bar.showPrivate{
    background-color: #000;
  }
  .showPrivate ul#forgotten > li{
    background-image: url("chrome://global/skin/in-content/check.svg#check");
    background-position: -2px ;
    background-size: 24px 24px;
  }
  .showPrivate ul#kept > li{
    background-image: url("chrome://browser/skin/warning16.png");
    background-size: 32px 16px;
    background-position: -16px 7px;
  }
  .showPrivate span#tpEnabled{
    background-color: #424e5a;
    background-color: #9b9b9b;
  }
  .showPrivate span#tpDisabled{
    background-color: #000;
  }
/* } */
