/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("splitters.css");
@import url("notification-box.css");

:root {
  font: message-box;
  --monospace-font-family: Menlo, Consolas, monospace; /* This fall-back is logically superfluous */
}

:root[platform="mac"] {
  --monospace-font-family: Menlo, monospace;
}
@supports (-moz-osx-font-smoothing: auto) { /* For FF < 45 where the attribute platform is absent, this detects any mac OS X 10.6+ */
  :root {
    --monospace-font-family: Menlo, monospace;
  }
}

:root[platform="win"] {
  --monospace-font-family: Consolas, monospace;
}
@media (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this detects any Windows */
  :root {
    --monospace-font-family: Consolas, monospace;
  }
}

:root[platform="linux"],
:root.theme-firebug {
  --monospace-font-family: monospace;
}
@media not all and (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this matches non-Windows OS */
  @supports not (-moz-osx-font-smoothing: auto) { /* This matches any OS except mac OS X 10.6+, hence Linux */
    :root {
      --monospace-font-family: monospace;
    }
  }
}

:root.theme-firebug {
  --proportional-font-family: Lucida Grande, Tahoma, sans-serif;
}

.devtools-monospace {
  font-family: var(--monospace-font-family);
}

:root[platform="linux"] .devtools-monospace {
  font-size: 80%;
}
@media not all and (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this matches non-Windows OS */
  @supports not (-moz-osx-font-smoothing: auto) { /* This matches any OS except mac OS X 10.6+, hence Linux */
    :root .devtools-monospace {
      font-size: 80%;
    }
  }
}

/* Bottom-docked toolbox minimize transition */
.devtools-toolbox-bottom-iframe {  /* This is moved into devtools-browser.css in 46.0a1 */
  transition: margin-bottom .1s;
}

.devtools-toolbox-side-iframe {  /* This is moved into devtools-browser.css in 46.0a1 */
  min-width: 465px;
}

/* Autocomplete Popup */

.devtools-autocomplete-popup {
  -moz-appearance: none !important;
  box-shadow: 0 1px 0 hsla(209,29%,72%,.25) inset;
  background-color: transparent;
  border-radius: 3px;
  overflow-x: hidden;
  max-height: 40rem;
  /* Devtools autocompletes display technical english keywords and should be displayed
     using LTR direction. */
  direction: ltr !important;
}

/* Reset list styles. */
.devtools-autocomplete-popup ul {
  list-style: none;
}

.devtools-autocomplete-popup ul,
.devtools-autocomplete-popup li {
  margin: 0;
}

:root[platform="linux"] .devtools-autocomplete-popup {
  max-height: 32rem;
}
@media not all and (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this matches non-Windows OS */
  @supports not (-moz-osx-font-smoothing: auto) { /* This matches any OS except mac OS X 10.6+, hence Linux */
    :root .devtools-autocomplete-popup {
      max-height: 32rem;
    }
  }
}

.devtools-autocomplete-listbox {
  -moz-appearance: none !important;
  background-color: transparent;
  border-width: 0px !important;
}

@supports not (box-sizing: padding-box) { /* Firefox >= 50 */
  .devtools-autocomplete-listbox {
    margin: 0;  /* This is probably needed already in Firefox 49!!!!! */
    padding: 2px;
  }

  /*** I am removing this unlesss I see evidence of a need for in --johnGraciliano *%
  .devtools-autocomplete-listbox > scrollbox {
    padding: 2px;
  }
  %*********************************************************************************/
}

.devtools-autocomplete-listbox > richlistitem,
/* .devtools-autocomplete-listbox > richlistitem[selected], /*** This line may be unnecessary! --johnGraciliano ***/
.devtools-autocomplete-listbox > .autocomplete-item {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  padding: 1px 0;
  /* Force text-align even in RTL locales to ensure a correct display of the popup */
  text-align: left;
}

/*** This was added in the code of Firefox 50 but it is always overrided by another rule ******************%
.devtools-autocomplete-listbox > richlistitem[selected],
.devtools-autocomplete-listbox > .autocomplete-selected {
  background-color: rgba(0,0,0,0.2);
}
%**********************************************************************************************************/

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected],
.devtools-autocomplete-listbox.dark-theme > richlistitem:hover,
.devtools-autocomplete-listbox.dark-theme > .autocomplete-selected,
.devtools-autocomplete-listbox.dark-theme > .autocomplete-item:hover {
  background-color: rgba(0,0,0,0.5);
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.dark-theme > richlistitem[selected] > .initial-value,
.devtools-autocomplete-listbox.dark-theme > .autocomplete-selected > .autocomplete-value,
.devtools-autocomplete-listbox:focus.dark-theme > .autocomplete-selected > .initial-value {
  color: hsl(208,100%,60%);
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected] > label,
.devtools-autocomplete-listbox.dark-theme > .autocomplete-selected > span {
  color: #eee;
}

.devtools-autocomplete-listbox.dark-theme > richlistitem > label,
.devtools-autocomplete-listbox.dark-theme > .autocomplete-item > span {
  color: #ccc;
}

.devtools-autocomplete-listbox > richlistitem > .initial-value,
.devtools-autocomplete-listbox > richlistitem > .autocomplete-value,
.devtools-autocomplete-listbox > .autocomplete-item > .initial-value,
.devtools-autocomplete-listbox > .autocomplete-item > .autocomplete-value {
  margin: 0;
  padding: 0;
  cursor: default;
}

.devtools-autocomplete-listbox > richlistitem > .autocomplete-count,
.devtools-autocomplete-listbox > .autocomplete-item > .autocomplete-count {
  margin: 0 2px 0 4px;
  text-align: end;
}

/* Rest of the dark and light theme */

.devtools-autocomplete-popup,
.theme-dark .CodeMirror-hints,
.theme-dark .CodeMirror-Tern-tooltip {
  border: 1px solid hsl(210,11%,10%);
  background-image: linear-gradient(to bottom, hsla(209,18%,18%,0.9), hsl(210,11%,16%));
}

.devtools-autocomplete-popup.light-theme,
.light-theme .CodeMirror-hints,
.light-theme .CodeMirror-Tern-tooltip {
  border: 1px solid hsl(210,24%,90%);
  background-image: linear-gradient(to bottom, hsla(209,18%,100%,0.9), hsl(210,24%,95%));
}

.devtools-autocomplete-popup.light-theme {
  box-shadow: 0 1px 0 hsla(209,29%,90%,.25) inset;
}

.theme-firebug .devtools-autocomplete-popup {
  border-color: var(--theme-splitter-color);
  border-radius: 5px;
  font-size: var(--theme-autompletion-font-size);
}

.devtools-autocomplete-popup.firebug-theme {
  background: var(--theme-body-background);
}

/*** The following rules are replaced by the next group **********************************

.devtools-autocomplete-listbox.firebug-theme > richlistitem[selected],
.devtools-autocomplete-listbox.firebug-theme > richlistitem:hover,
.devtools-autocomplete-listbox.light-theme > richlistitem[selected],
.devtools-autocomplete-listbox.light-theme > richlistitem:hover,
.devtools-autocomplete-listbox.firebug-theme > .autocomplete-selected,
.devtools-autocomplete-listbox.firebug-theme > .autocomplete-item:hover,
.devtools-autocomplete-listbox.light-theme > .autocomplete-selected,
.devtools-autocomplete-listbox.light-theme > .autocomplete-item:hover {
  background-color: rgba(128,128,128,0.3);
}

.devtools-autocomplete-listbox.firebug-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.firebug-theme > richlistitem[selected] > .initial-value,
.devtools-autocomplete-listbox.light-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.light-theme > richlistitem[selected] > .initial-value,
.devtools-autocomplete-listbox.firebug-theme > .autocomplete-selected > .autocomplete-value,
.devtools-autocomplete-listbox:focus.firebug-theme > .autocomplete-selected > .initial-value,
.devtools-autocomplete-listbox.light-theme > .autocomplete-selected > .autocomplete-value,
.devtools-autocomplete-listbox:focus.light-theme > .autocomplete-selected > .initial-value {
  color: #222;
}

.devtools-autocomplete-listbox.firebug-theme > richlistitem > label,
.devtools-autocomplete-listbox.light-theme > richlistitem > label,
.devtools-autocomplete-listbox.firebug-theme > .autocomplete-item > span,
.devtools-autocomplete-listbox.light-theme > .autocomplete-item > span {
  color: #666;
}

%*** The replacement follows now *********************************************************/

.devtools-autocomplete-listbox:not(.theme-dark) > richlistitem[selected],
.devtools-autocomplete-listbox:not(.theme-dark) > richlistitem:hover,
.devtools-autocomplete-listbox:not(.theme-dark) > .autocomplete-selected,
.devtools-autocomplete-listbox:not(.theme-dark) > .autocomplete-item:hover {
  background-color: rgba(128,128,128,0.3);
}

.devtools-autocomplete-listbox:not(.theme-dark) > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus:not(.theme-dark) > richlistitem[selected] > .initial-value,
.devtools-autocomplete-listbox:not(.theme-dark) > .autocomplete-selected > .autocomplete-value,
.devtools-autocomplete-listbox:focus:not(.theme-dark) > .autocomplete-selected > .initial-value {
  color: #222;
}

.devtools-autocomplete-listbox:not(.theme-dark) > richlistitem > label,
.devtools-autocomplete-listbox:not(.theme-dark) > .autocomplete-item > span {
  color: #666;
}

/*** End of replacement ******************************************************************/

/* Autocomplete list clone used for accessibility. */

.devtools-autocomplete-list-aria-clone {
  /* Cannot use display:none or visibility:hidden : screen readers ignore the element. */
  position: fixed;
  overflow: hidden;
  margin: 0;
  width: 0;
  height: 0;
}

.devtools-autocomplete-list-aria-clone li {
  /* Prevent screen readers from prefacing every item with 'bullet'. */
  list-style-type: none;
}

/* Eyedropper Widget */

.devtools-eyedropper-panel { /* This is moved into devtools-browser.css in 46.0a1 */
  pointer-events: none;
  -moz-appearance: none;
  width: 156px;
  height: 120px;
  background-color: transparent;
  border: none;
}

/* links to source code, like displaying `myfile.js:45` */

.devtools-source-link {
  font-family: var(--monospace-font-family);
  color: var(--theme-highlight-blue);
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  text-decoration: none;
  font-size: 11px;
  width: 12em; /* probably should be changed for each tool */
}

.devtools-source-link:hover {
  text-decoration: underline;
}

.devtools-source-link > .filename {
  text-overflow: ellipsis;
  text-align: end;
  overflow: hidden;
  margin: 2px 0px;
  cursor: pointer;
}

.devtools-source-link > .line-number {
  flex: none;
  margin: 2px 0px;
  cursor: pointer;
}

@supports not (background-position-x:left) { /* FF <= 48 (for Firefox 49 this is in ...skin/...devtools/spectrum.css) --johnGraciliano */
  #spectrum + div#eyedropper-button {
    background-size: 16px;
    background-position: center;
    border-color: transparent;
    opacity: .7;
  }

  #spectrum + div#eyedropper-button:hover {
    opacity: .85;
  }

  /*
  :root.theme-dark div#eyedropper-button {
    filter: invert(1);
  }
   */
} /* @supports */


/****  Options Tab  ******************************************/

#options-panel-container .options-groupbox {
  -moz-box-align: start;
}
#options-panel-container .options-groupbox > .hidden-labels-box {
  -moz-box-orient: vertical; /* Convert the hbox into a vbox --johnGraciliano */
}
#options-panel-container .options-groupbox > .hidden-labels-box > checkbox,
#options-panel-container .options-groupbox > checkbox {
  -moz-box-align: start;
}
#options-panel-container .options-groupbox > .hidden-labels-box > checkbox > .checkbox-check,
#options-panel-container .options-groupbox > checkbox > .checkbox-check {
  margin-top: 3px;
  margin-bottom: 3px;
}

#options-panel fieldset > label {
  width: -moz-fit-content;
}
#options-panel fieldset > label > input:first-child {
  align-self: start;
}
#options-panel fieldset > label > span:nth-child(+2) {
  margin-top: 1px;
  margin-bottom: 1px;
}

/***********************************************/
/* Fix the columns.                            */
/* Allowing a 30px scrollbar. --johnGraciliano */
/***********************************************/

vbox.options-vertical-pane {
  width: calc(100%/3 - 10px);
  max-width: 500px;
  /* 'min-width: 320px' is set elsewhere */
}

vbox#default-tools-box {
  display: block;
  -moz-column-width: calc(15vw - 19.8px);
  -moz-column-gap: 0;
  margin-top: 2px;
}

vbox#default-tools-box > checkbox {
  display: block;
  margin-top: 0px;
  margin-bottom: 4px;
}

@media not all and (max-width: 1560px) {
  vbox#default-tools-box {
    -moz-column-width: 214.2px;
  }
}

@media (max-width: 1020px) {
  vbox.options-vertical-pane {
    width: calc(100%/2 - 10px);
  }
  vbox#default-tools-box {
    -moz-column-width: auto;
  }
}

@media (max-width: 690px) {
  vbox.options-vertical-pane {
    width: calc(100% - 10px);
  }
  vbox#default-tools-box {
    -moz-column-width: 214.2px;
  }
}

@media (max-width: 540px) {
  vbox#default-tools-box {
    -moz-column-width: calc(45vw - 28.8px);
  }
}

@media (max-width: 360px) {
  vbox#default-tools-box {
    -moz-column-width: 133.2px;
  }
}


fieldset#default-tools-box > label {
  width: 45%;
  float: left;
  pointer-events: none;
}

fieldset#default-tools-box > label > input,
fieldset#default-tools-box > label > span {
  pointer-events: all;
}

div.options-vertical-pane {
  width: calc(100%/3 - 10px);
}

div.options-vertical-pane {
  max-width: 500px;
}

@media (max-width: 1020px) {
  div.options-vertical-pane {
    width: calc(100%/2 - 10px);
  }
  fieldset#default-tools-box > label {
    width: auto;
    float: none;
  }
}

@media (max-width: 690px) {
  div.options-vertical-pane {
    width: calc(100% - 10px);
  }
  fieldset#default-tools-box > label {
    width: 45%;
    float: left;
  }
}

/**********************************************************************/