/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("splitters.css");

:root {
  font: message-box;
  --monospace-font-family: Menlo, Consolas, monospace; /* This fall-back is logically superfluous */
}

:root[platform="mac"] {
  --monospace-font-family: Menlo, monospace;
}
@supports (-moz-osx-font-smoothing: auto) { /* For FF < 45 where the attribute platform is absent, this detects any mac OS X 10.6+ */
  :root {
    --monospace-font-family: Menlo, monospace;
  }
}

:root[platform="win"] {
  --monospace-font-family: Consolas, monospace;
}
@media (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this detects any Windows */
  :root {
    --monospace-font-family: Consolas, monospace;
  }
}

:root[platform="linux"],
:root.theme-firebug {
  --monospace-font-family: monospace;
}
@media not all and (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this matches non-Windows OS */
  @supports not (-moz-osx-font-smoothing: auto) { /* This matches any OS except mac OS X 10.6+, hence Linux */
    :root {
      --monospace-font-family: monospace;
    }
  }
}

:root.theme-firebug {
  --proportional-font-family: Lucida Grande, Tahoma, sans-serif;
}

.devtools-monospace {
  font-family: var(--monospace-font-family);
}

:root[platform="linux"] .devtools-monospace {
  font-size: 80%;
}
@media not all and (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this matches non-Windows OS */
  @supports not (-moz-osx-font-smoothing: auto) { /* This matches any OS except mac OS X 10.6+, hence Linux */
    :root .devtools-monospace {
      font-size: 80%;
    }
  }
}

/* Bottom-docked toolbox minimize transition */
.devtools-toolbox-bottom-iframe {  /* This is moved into devtools-browser.css in 46.0a1 */
  transition: margin-bottom .1s;
}

.devtools-toolbox-side-iframe {  /* This is moved into devtools-browser.css in 46.0a1 */
  min-width: 465px;
}

/* Autocomplete Popup */

.devtools-autocomplete-popup {
  -moz-appearance: none !important;
  box-shadow: 0 1px 0 hsla(209,29%,72%,.25) inset;
  background-color: transparent;
  border-radius: 3px;
  overflow-x: hidden;
  max-height: 40rem;
}

:root[platform="linux"] .devtools-autocomplete-popup {
  max-height: 32rem;
}
@media not all and (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this matches non-Windows OS */
  @supports not (-moz-osx-font-smoothing: auto) { /* This matches any OS except mac OS X 10.6+, hence Linux */
    :root .devtools-autocomplete-popup {
      max-height: 32rem;
    }
  }
}

.devtools-autocomplete-listbox {
  -moz-appearance: none !important;
  background-color: transparent;
  border-width: 0px !important;
}

.devtools-autocomplete-listbox > richlistitem,
.devtools-autocomplete-listbox > richlistitem[selected] {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected],
.devtools-autocomplete-listbox.dark-theme > richlistitem:hover {
  background-color: rgba(0,0,0,0.5);
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.dark-theme > richlistitem[selected] > .initial-value {
  color: hsl(208,100%,60%);
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected] > label {
  color: #eee;
}

.devtools-autocomplete-listbox.dark-theme > richlistitem > label {
  color: #ccc;
}

.devtools-autocomplete-listbox > richlistitem > .initial-value,
.devtools-autocomplete-listbox > richlistitem > .autocomplete-value {
  margin: 0;
  padding: 1px 0;
}

.devtools-autocomplete-listbox > richlistitem > .autocomplete-count {
  text-align: end;
}

/* Rest of the dark and light theme */

.devtools-autocomplete-popup,
.theme-dark .CodeMirror-hints,
.theme-dark .CodeMirror-Tern-tooltip {
  border: 1px solid hsl(210,11%,10%);
  background-image: linear-gradient(to bottom, hsla(209,18%,18%,0.9), hsl(210,11%,16%));
}

.devtools-autocomplete-popup.light-theme,
.light-theme .CodeMirror-hints,
.light-theme .CodeMirror-Tern-tooltip {
  border: 1px solid hsl(210,24%,90%);
  background-image: linear-gradient(to bottom, hsla(209,18%,100%,0.9), hsl(210,24%,95%));
}

.devtools-autocomplete-popup.light-theme {
  box-shadow: 0 1px 0 hsla(209,29%,90%,.25) inset;
}

.theme-firebug .devtools-autocomplete-popup {
  border-color: var(--theme-splitter-color);
  border-radius: 5px;
  font-size: var(--theme-autompletion-font-size);
}

.devtools-autocomplete-popup.firebug-theme {
  background: var(--theme-body-background);
}

.devtools-autocomplete-listbox.firebug-theme > richlistitem[selected],
.devtools-autocomplete-listbox.firebug-theme > richlistitem:hover,
.devtools-autocomplete-listbox.light-theme > richlistitem[selected],
.devtools-autocomplete-listbox.light-theme > richlistitem:hover {
  background-color: rgba(128,128,128,0.3);
}

.devtools-autocomplete-listbox.firebug-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.firebug-theme > richlistitem[selected] > .initial-value,
.devtools-autocomplete-listbox.light-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.light-theme > richlistitem[selected] > .initial-value {
  color: #222;
}

.devtools-autocomplete-listbox.firebug-theme > richlistitem > label,
.devtools-autocomplete-listbox.light-theme > richlistitem > label {
  color: #666;
}

/* Tooltip widget (see devtools/client/shared/widgets/Tooltip.js) */

.devtools-tooltip .panel-arrowcontent {
  padding: 4px;
}

.devtools-tooltip .panel-arrowcontainer {
  /* Reseting the transition used when panels are shown */
  transition: none;
  /* Panels slide up/down/left/right when they appear using a transform.
  Since we want to remove the transition, we don't need to transform anymore
  plus it can interfeer by causing mouseleave events on the underlying nodes */
  transform: none;
}

.devtools-tooltip[clamped-dimensions] {
  min-height: 100px;
  max-height: 400px;
  min-width: 100px;
  max-width: 400px;
}
.devtools-tooltip[clamped-dimensions-no-min-height] {
  min-height: 0;
  max-height: 400px;
  min-width: 100px;
  max-width: 400px;
}
.devtools-tooltip[clamped-dimensions-no-max-or-min-height] {
  min-width: 400px;
  max-width: 400px;
}
.devtools-tooltip[clamped-dimensions] .panel-arrowcontent,
.devtools-tooltip[clamped-dimensions-no-min-height] .panel-arrowcontent,
.devtools-tooltip[clamped-dimensions-no-max-or-min-height] .panel-arrowcontent {
  overflow: hidden;
}
.devtools-tooltip[wide] {
  max-width: 600px;
}

/* Tooltip: Simple Text */

.devtools-tooltip-simple-text {
  max-width: 400px;
  margin: 0 -4px; /* Compensate for the .panel-arrowcontent padding. */
  padding: 8px 12px;
  white-space: pre-wrap;
}

.devtools-tooltip-simple-text:first-child {
  margin-top: -4px;
}

.devtools-tooltip-simple-text:last-child {
  margin-bottom: -4px;
}

/* Tooltip: Alert Icon */

.devtools-tooltip-alert-icon {
  width: 32px;
  height: 32px;
  margin: 6px;
  -moz-margin-end: 20px;
}

.devtools-tooltip-alert-icon {
  list-style-image: url("chrome://global/skin/icons/warning-32.png");
}

/* Tooltip: Variables View */

.devtools-tooltip-variables-view-box {
  margin: -4px; /* Compensate for the .panel-arrowcontent padding. */
}

.devtools-tooltip-variables-view-box .variable-or-property > .title {
  -moz-padding-end: 6px;
}

/* Tooltip: Tiles */

.devtools-tooltip-tiles {
  background-color: #eee;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.devtools-tooltip-iframe {
  border: none;
  background: transparent;
}


/** FF49 START *********************************************************************************************************/
.tooltip-container {
  display: none;
  position: fixed;
  z-index: 9999;
  display: none;
  background: transparent;
}

.tooltip-panel{
  background-color: var(--theme-tooltip-background);
}

.tooltip-visible {
  display: block;
}

.tooltip-container[type="normal"] > .tooltip-panel {
  height: 100%;
  width: 100%;
}

/* Tooltip : arrow style */

.tooltip-container[type="arrow"] {
  filter: drop-shadow(0 3px 4px var(--theme-tooltip-shadow));
}

.tooltip-container[type="arrow"] > .tooltip-panel {
  position: absolute;
  box-sizing: border-box;
  height: calc(100% - 13px);
  width: 100%;

  border: 3px solid var(--theme-tooltip-border);
  border-radius: 5px;
}

.tooltip-top[type="arrow"] .tooltip-panel {
  top: 0;
}

.tooltip-bottom[type="arrow"] .tooltip-panel {
  bottom: 0;
}

.tooltip-arrow {
  position: absolute;
  height: 16px;
  width: 32px;
  overflow: hidden;
}

.tooltip-top .tooltip-arrow {
  bottom: 0;
}

.tooltip-bottom .tooltip-arrow {
  top: 0;
}

.tooltip-arrow:before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  margin-left: 4px;
  background: linear-gradient(-45deg,
    var(--theme-tooltip-background) 50%, transparent 50%);
  border-color: var(--theme-tooltip-border);
  border-style: solid;
  border-width: 0px 3px 3px 0px;
  border-radius: 3px;
}

.tooltip-bottom .tooltip-arrow:before {
  margin-top: 4px;
  transform: rotate(225deg);
}

.tooltip-top .tooltip-arrow:before {
  margin-top: -12px;
  transform: rotate(45deg);
}

/** FF49 END   *********************************************************************************************************/


/* Eyedropper Widget */

.devtools-eyedropper-panel { /* This is moved into devtools-browser.css in 46.0a1 */
  pointer-events: none;
  -moz-appearance: none;
  width: 156px;
  height: 120px;
  background-color: transparent;
  border: none;
}

/* links to source code, like displaying `myfile.js:45` */

.devtools-source-link {
  font-family: var(--monospace-font-family);
  color: var(--theme-highlight-blue);
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  text-decoration: none;
  font-size: 11px;
  width: 12em; /* probably should be changed for each tool */
}

.devtools-source-link:hover {
  text-decoration: underline;
}

.devtools-source-link > .filename {
  text-overflow: ellipsis;
  text-align: end;
  overflow: hidden;
  margin: 2px 0px;
  cursor: pointer;
}

.devtools-source-link > .line-number {
  flex: none;
  margin: 2px 0px;
  cursor: pointer;
}
