/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Frame Component
 * Styles for React component at `devtools/client/shared/components/frame.js`
 */

.stack-trace > :nth-child(2n+0){background-color: rgba(128,128,128,.08);}
.stack-trace > * {margin: 0 -3px; padding: 0 3px;}

.frame-link {
  display: flex;
  justify-content: space-between;
}

a.message-location > .frame-link { /* Firefox 48-49 */
  overflow: hidden;
}

.frame-link-async-cause {
  color: var(--theme-body-color-inactive);
  display: flex; /* Added so the background fills the line --johnGraciliano */
}

.frame-link .frame-link-source {
  flex: 1 1 0%; /* The default/classic theme sets this to 'initial' --johnGraciliano */
  color: var(--theme-highlight-blue);
}

.frame-link a.frame-link-source {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
}

.frame-link a.frame-link-source:hover {
  text-decoration: underline;
}

.frame-link .frame-link-host {
  margin-inline-start: 5px;
  font-size: 90%;
  color: var(--theme-content-color2);
}

.frame-link .frame-link-function-display-name {
  margin-inline-end: 5px;
}

.frame-link .frame-link-column, /* Firefox 48-49 */
.frame-link .frame-link-colon, /* Firefox 48-49 */
.frame-link .frame-link-line {
  color: var(--theme-highlight-orange);
}

.focused .frame-link .frame-link-column, /* Firefox 48-49 */
.focused .frame-link .frame-link-colon, /* Firefox 48-49 */
.focused .frame-link .frame-link-source,
.focused .frame-link .frame-link-line,
.focused .frame-link .frame-link-host {
  color: var(--theme-selection-color);
}
