/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * IMPORTANT NOTE:
 *
 * All rules here may need to be prefixed by .debugger  so they do not affect other tools.
 * E.g., the next rule needed to be prefixed so it does not affect the rule used elsewhere.
 *
 */

.debugger {
  --theme-faded-tab-color:  var(--theme-body-color);
}

.debugger .split-box > .splitter {
  background-clip: content-box;
  padding: 0 1px;
  margin: 0 -1px;
  position: relative;
  z-index: 101; /* This value is just above the value for '.welcomebox' to cover the center-pane. */
}

.debugger .split-box.vert > .splitter,
.debugger .split-box > .splitter {
  background-clip: content-box;
  margin: 0 -1px;
  border: 0;
  padding: 0 1px;
  position: relative;
  min-width: 3px;
  z-index: 101; /* This value is just above the value for '.welcomebox' to cover the center-pane. */
}

.debugger .split-box > .splitter > .splitter-handle {
  position: static;
  margin: 0 -1px;
  width: 3px;
}

div.sources-header, div.source-header, div.command-bar, div._header {
  background-color: var(--theme-toolbar-background);
}

div.welcomebox {
  width: 100%;
}

:-moz-any(.domain,.file,.folder) > svg {
  fill: #999;
}

i.arrow > svg,
.arrow > i > svg {
  fill: #727272;
}

div.source-tab:hover {
  background-color: var(--theme-tab-toolbar-background);
}

div.source-tab.active {
  color: var(--theme-selection-color);
  background-color: var(--theme-selection-background);
}

div.source-tab.active .close > svg > path {
  fill: var(--theme-selection-color);
}

.accordion div._header:hover {
  background-color:  #343b46;
}

.accordion ._header:hover .arrow > svg {
  fill: #7f7f7f;
}


.command-bar > span:not(.disabled):not(:hover):not(:active) {
  opacity: .8;
}

i:-moz-any(.pause,.resume,.stepOver,.stepIn,.stepOut,.disableBreakpoints,.pause-exceptions,.prettyPrint) > svg {
  fill: #bcc9d5; /*var(--theme-body-color);*/
  stroke: #bcc9d5; /*var(--theme-body-color);*/
  stroke-width: 0;
}

.pause > svg{
  transform: translateX(-.8px);
}

.breakpoints-disabled > .disableBreakpoints > svg {
  fill: var(--theme-highlight-blue);
}

.uncaught > .pause-exceptions > svg {
  fill: var(--theme-highlight-purple);
}

.all > .pause-exceptions > svg {
  fill: var(--theme-highlight-blue);
}

.frames ul li.frame.selected,
.frames ul li.frame.selected .location {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}