/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  box-sizing: border-box;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding-bottom: 20px;  %* This is moved to #all-fonts --johnGraciliano */
}

#root {
  overflow: auto;
}

#sidebar-panel-fontinspector {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 20px;   %* This is moved to #all-fonts --johnGraciliano */
  width: 100%;
  /* Bug 1243598 - Reduce the container height by the tab height to make room
     for the tabs above. */
  height: calc(100% - 24px);
  position: absolute;
}
.theme-firebug tabpanel#sidebar-panel-fontinspector {  /* Firefox 48-49 */
  height: calc(100% - 28px);
}

div#sidebar-panel-fontinspector {  /* Firefox >= 50 */
  height: 100%;
  position: static;
}

#sidebar-panel-fontinspector > .devtools-toolbar {
  display: flex;
}

.theme-firebug #sidebar-panel-fontinspector > .devtools-toolbar {
  height: 23px !important; /* To override 28px setting in firebug-theme.css --johnGraciliano */
  box-sizing: content-box;
}

#font-container {
  overflow: auto;
  flex: auto;
}

#all-fonts {
  padding: 0;
  margin: 0;
  padding-bottom: 20px; /* This moved here from body --johnGraciliano */
}

#showall,
#font-showall {
  border-radius: 0;
  border: 1px solid black;
  margin: 3px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 16px; /* Make space for the scroll-bar.  It was 0 --johnGraciliano */
  /* offset-inline-end: 16px;   /* Introduced in Firefox 50, this would be more effective. */
}
#showall:-moz-locale-dir(rtl),
#font-showall:-moz-locale-dir(rtl) {
  right: auto;
  left: 16px;
}

.dim > #root,
.dim > #font-container,
.font:not(.has-code) .font-css-code,
.font-is-local,
.font-is-remote,
.font.is-local .font-format-url,
#template,
#font-template {
  display: none;
}

.font.is-remote .font-is-remote,
.font.is-local .font-is-local {
  display: inline;
}

.font-format::before {
  content: "(";
}

.font-format::after {
  content: ")";
}

.preview-input-toolbar {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.font-preview-container {
  overflow-x: auto;
}

#preview-text-input,
#font-preview-text-input {
  font: inherit;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
  flex: 1;
}

.font {
  padding: 10px 10px;
}

.theme-dark .font {
  border-bottom: 1px solid #444;
}

.theme-light .font {
  border-bottom: 1px solid #DDD;
}

.font:last-of-type {
  border-bottom: 0;
}

.theme-light .font:nth-child(even) {
  background: #F4F4F4;
}

.font-preview {
  box-sizing: border-box;
  margin-left: -4px;
  height: 60px;
  display: block;
}

.font-info {
  display: block;
}

.font-name {
  display: inline;
}

.font-css-code {
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.theme-light .font-css-code,
.theme-light .font-url {
  border: 1px solid #CCC;
  background: white;
}

.theme-dark .font-css-code,
.theme-dark .font-url {
  border: 1px solid #333;
  background: black;
  color: white;
}
