/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@supports (not (line-height:calc(1px))) { {} /* Firefox < 48 */
  :root[platform="mac"] #inspector-toolbar:-moz-locale-dir(ltr) {
    padding-left: 2px;
  }
  :root[platform="mac"] #inspector-toolbar:-moz-locale-dir(rtl) {
    padding-left: 4px;
  }
  @supports (-moz-osx-font-smoothing: auto) { /* For FF < 45 where the attribute platform is absent. This detects mac OS X 10.6+ */
    :root #inspector-toolbar:-moz-locale-dir(ltr) {
      padding-left: 2px;
    }
    :root #inspector-toolbar:-moz-locale-dir(rtl) {
      padding-left: 4px;
    }
  }
}

/*
 * In Firefox 52, the collapsed #tabpanels may take space in the bottom of the window push the top out of view.
 * Then next rule should prevent this problem.  ***Another solution is in "#inspector-splitter-box {...position: fixed;}"***
 */
.inspector-responsive-container > #tabpanels[style*="collapse"] {
  display: none;
}

/* Make sure to hide scroll bars for the parent window */
window {
  overflow: hidden; /* For Firefox 51. On earlier Firefox it was -moz-hidden-unscrollable from chrome://global/content/minimal-xul.css */
}

/* The main Inspector panel container. */
.inspector-responsive-container { /* For Firefox 51, where this is html:div.  Previously it was box.devtools-responsive-container.theme-body */
  height: 100vh;
}

/* The main panel layout. This area consists of a toolbar, markup view
  and breadcrumbs bar. */
div.devtools-main-content { /* For Firefox 51.  Previously this was vbox.devtools-main-content */
  /* Subtract 1 pixel from the panel height. It's puzzling why this
    is needed, but if not presented the entire Inspector panel
    content jumps 1 pixel up when the Toolbox is opened. */
  height: 100%;  /* calc(100% - 1px); ** The puzzle is solved, the 1px is was a border for #inspector-breadcrumbs-toolbar, now fixed --johnGraciliano */
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* Inspector Panel Splitter */

#inspector-splitter-box { /* For Firefox 51. It is html:div */
  height: 100vh;
  width: 100vw;
  position: fixed;
}

/* Minimum width for the Inspector main (uncontrolled) area. */
#inspector-splitter-box .uncontrolled {
  min-width: 275px;
}

#inspector-splitter-box .controlled {
  min-width: 320px !important; /* !important to override the programmed value --johnGraciliano */
}

#inspector-splitter-box .controlled.pane-collapsed {
  visibility: collapse;
}

/* The following rules for #inspector-toolbar are for late FF49.
 * The tag 'div' prevent the rules from applying in distinct from earlier versions.
 * The corresponding tag is 'toolbar' in earlier versions.
 * This is part for the change from xul to xhtml but the namespace is not stated.
 */
/* Use flex layout for the Inspector toolbar. For now, it's done
   specifically for the Inspector toolbar since general rule applied
   on .devtools-toolbar breaks breadcrumbs and also toolbars in other
   panels (e.g. webconsole, debugger), these are not ready for HTML
   layout yet. */

div#inspector-toolbar.devtools-toolbar {
  display: flex;
}

div#inspector-toolbar.devtools-toolbar .devtools-toolbar-spacer {
  flex-grow: 1;
  display: inline-block;
}

#inspector-searchlabel {
  overflow: hidden;
  margin-inline-end: 2px;
}

#inspector-search {
  flex: unset;
}

/* TODO: bug 1265759: should apply to .devtools-searchinput once all searchbox
   is converted to html*/
#inspector-search > #inspector-searchbox {  /* The prefix '#inspector-search > ' is for this to apply in Firefox >= 51. --johnGraciliano */
  flex: 1; /* This was added in the default theme of 51.0a1 and removed a few days later.  It may be removed here too. --johnGraciliano */
  width: 100%;
  padding-inline-end: 22px; /* Added. Make room for '#inspector-searchinput-clear' --johnGraciliano */
}

.theme-firebug #inspector-search > #inspector-searchinput-clear {
  top: 2.5px; /* Added.  To better center the button. --johnGraciliano */
}

#inspector-search > #inspector-searchbox::-moz-placeholder {
  font-style: italic;
}

/* Make sure the text is vertically centered in Inspector's
   search box. This can be removed when the search box is
   switched to HTML.
   See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1265759 */
.theme-dark #inspector-searchbox,
.theme-light #inspector-searchbox {
  line-height: 19px;
}
.theme-firebug #inspector-searchbox {
  line-height: 17px;
}

#inspector-breadcrumbs ~ #inspector-searchbox {
  transition-property: max-width, -moz-padding-end, -moz-padding-start;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

#inspector-breadcrumbs ~ #inspector-searchbox:not([focused]):not([filled]) > .textbox-input-box {
  overflow: hidden;
}

#inspector-breadcrumbs ~ #inspector-searchbox:not([focused]):not([filled]) {
  max-width: 20px !important;
  -moz-padding-end: 5px;
  -moz-padding-start: 22px;
  background-position: 8px center, top left, top left;
}

#inspector-breadcrumbs ~ #inspector-searchbox[focused],
#inspector-breadcrumbs ~ #inspector-searchbox[filled] {
  max-width: 200px !important;
}

#inspector-breadcrumbs-toolbar {
  padding: 0px;
  border-bottom-width: 0px;
  border-top-width: 1px;
  min-height: 25px; /* 24px content + 1px border --johnGraciliano */
}

.theme-firebug #inspector-breadcrumbs-toolbar {
  min-height: 28px; /* The toolbar is higher for the Firebug theme --johnGraciliano */
  -moz-box-align: center; /* For Firefox 48 */
}

/* The following rules for #inspector-breadcrumbs* are for late FF49.
 * The tag 'div' prevent the rules from applying in distinct from earlier versions.
 * DOM node div#inspector-breadcrumbs-toolbar replace toolbar#inspector-breadcrumbs-toolbar
 * DOM node div#inspector-breadcrumbs replace arrowscrollbox#inspector-breadcrumbs
 * This is part for the change from xul to xhtml but the namespace is not stated.
 */
div#inspector-breadcrumbs-toolbar {
  display: block;
  position: relative;
}
.theme-firebug div#inspector-breadcrumbs-toolbar {
  display: flex;
}

div#inspector-breadcrumbs-toolbar,
div#inspector-breadcrumbs-toolbar * {
  box-sizing: border-box;
}

div#inspector-breadcrumbs { /* For late FF49.  The tag 'div' makes it distinct from earlier versions, where it was 'toolbar'. */
  display: flex;

  /* Break out of the XUL flexbox, so the splitter can still shrink the
     markup view even if the contents of the breadcrumbs are wider than
     the new width. */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.theme-firebug div#inspector-breadcrumbs {
  align-items: center;
  height: auto;
  max-height: none;
}

div#inspector-breadcrumbs .scrollbutton-up,
div#inspector-breadcrumbs .scrollbutton-down {
  flex: 0;
  display: flex;
  align-items: center;
}

div#inspector-breadcrumbs .html-arrowscrollbox-inner {
  flex: 1;
  display: flex;
  overflow: hidden;
}

div#inspector-breadcrumbs .breadcrumbs-widget-item {
  white-space: nowrap;
  flex-shrink: 0;
  font: message-box;
}

/* Expand/collapse panel toolbar button */


button.devtools-button.sidebar-toggle::before, /* This needs to override 'resource://devtools/client/shared/components/sidebar-toggle.css' */
#inspector-pane-toggle::before { /* Firefox 49 */
  background-image: url(images/pane-toggle.svg#collapse);
}
#inspector-pane-toggle { /* Firefox <= 48 */
  list-style-image: url(images/pane-toggle.svg#collapse);
}

button.devtools-button.sidebar-toggle.pane-collapsed::before,
#inspector-pane-toggle[pane-collapsed]::before {
  background-image: url(images/pane-toggle.svg#expand);
}
#inspector-pane-toggle[pane-collapsed] {
  list-style-image: url(images/pane-toggle.svg#expand);
}

@media not all and (max-width: 700px) {
  .sidebar-toggle:-moz-locale-dir(rtl)::before,
  #inspector-pane-toggle:-moz-locale-dir(rtl) > .toolbarbutton-icon {
    transform: scaleX(-1);
  }
}

@media (max-width: 700px) {
  button.devtools-button.sidebar-toggle::before,
  #inspector-pane-toggle::before {
    background-image: url(images/pane-toggle.svg#v-collapse);
    transform: none;
  }
  #inspector-pane-toggle {
    list-style-image: url(images/pane-toggle.svg#v-collapse);
  }

  button.devtools-button.sidebar-toggle.pane-collapsed::before,
  #inspector-pane-toggle[pane-collapsed]::before {
    background-image: url(images/pane-toggle.svg#v-expand);
  }
  #inspector-pane-toggle[pane-collapsed] {
    list-style-image: url(images/pane-toggle.svg#v-expand);
  }
}

:root.theme-firebug button.sidebar-toggle::before,
:root.theme-firebug #inspector-pane-toggle::before {
  background-image: url(images/firebug/pane-collapse.svg);
}
:root.theme-firebug #inspector-pane-toggle {
  list-style-image: url(images/firebug/pane-collapse.svg);
}

:root.theme-firebug button.sidebar-toggle.pane-collapsed::before,
:root.theme-firebug #inspector-pane-toggle[pane-collapsed]::before {
  background-image: url(images/firebug/pane-expand.svg);
}
:root.theme-firebug #inspector-pane-toggle[pane-collapsed] {
  list-style-image: url(images/firebug/pane-expand.svg);
}

@media (max-width: 700px) {
  :root.theme-firebug button.sidebar-toggle::before,
  :root.theme-firebug #inspector-pane-toggle::before,
  :root.theme-firebug #inspector-pane-toggle > .toolbarbutton-icon {
    transform: rotate(90deg);
  }
}

/* Eyedropper toolbar button */

@supports (border-color: -moz-use-text-color) { {} /* Only for Firefox prior to 52 */
#inspector-eyedropper-toggle {
  /* hidden by default, until we can check that the required highlighter exists */
  display: none;
}
}
@supports not (border-color: -moz-use-text-color) { {} /* Only for Firefox 52 and later */
#inspector-eyedropper-toggle {
  /* Required to display tooltip when eyedropper is disabled in non-HTML documents */
  pointer-events: auto;
}
}

#inspector-eyedropper-toggle::before {
  background-image: url(images/command-eyedropper.svg);
}

.theme-firebug #inspector-eyedropper-toggle::before {
  background-image: url(images/firebug/command-eyedropper.svg);
}

/* Add element toolbar button */

#inspector-element-add-button::before {
  background-image: url(images/add.svg);
}
#inspector-element-add-button {
  list-style-image: url(images/add.svg);
}
.theme-firebug #inspector-element-add-button::before {
  background-image: url(images/firebug/add.svg);
  filter: none;
}
.theme-firebug #inspector-element-add-button > image {
  list-style-image: url(images/firebug/add.svg);
  filter: none
}

/* Set the minimum width for the side bar so, all tabs are
  properly visible. The value can be decreased when bug 1281789
  is fixed and the all-tabs-menu is available again. */
[id]#inspector-sidebar-container { /* Added '[id]' to override 'chrome://devtools/content/inspector/inspector.css' of Firefox 50 --johnGraciliano */
  overflow: hidden;
  min-width: 320px; /* This is 300px in the default theme of Firefox 51.  It is 400px in Firefox 50.  --johnGraciliano */
  position: relative;
  height: 100%;
}

div#inspector-sidebar { /* Added 'div' for Firefox >= 50.
                         * Otherwise it needs ':not(tabbox)' or ':not(.devtools-sidebar-tabs)' or '#inspector-sidebar-container > ' --johnGraciliano */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Override `-moz-user-focus:ignore;` from toolkit/content/minimal-xul.css */
.inspector-tabpanel > * {
  -moz-user-focus: normal;
}

/* "no results" warning message displayed in the ruleview and in the computed view */

#ruleview-no-results,
#computedview-no-results {
  color: var(--theme-body-color-inactive);
  text-align: center;
  padding: 5px; /* The property was originally 'margin: 5px', but that generated a superfluous scrollbar --johnGraciliano. */
  font: message-box;
}

/* Markup Box */

iframe {
  border: 0;
}

#markup-box {
  width: 100%;
  flex: 1;
  min-height: 0;
}

#markup-box > iframe {
  height: 100%;
  width: 100%;
}

/* The following could be belong in toolbars.css but I only know it is needed for the inspector module --johnGraciliano */
.theme-dark .tabs nav.tabs-navigation,
.theme-light .tabs nav.tabs-navigation {
  box-sizing: border-box;
  height: 24px;   /* Needed in Firefox 50 --johnGraciliano */
  background-color: var(--theme-toolbar-background); /* Override resource://devtools/client/shared/components/tabs/tabs.css */
}
.theme-firebug .tabs nav.tabs-navigation {
/*  background-color: rgb(219, 234, 249);  *** This fixed this is fixed in variables.css --johnGraciliano */
  height: 28px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.theme-firebug #inspector-sidebar > stack > tabs > tab[selected],  /* For Firefox 48-49 */
.theme-firebug .tabs > * > * > li.tabs-menu-item.is-active > a {   /* For late Firefox 53 */
  background-color: rgb(247, 251, 254);
}
.theme-firebug #inspector-sidebar > stack > tabs > tab[selected]#sidebar-tab-layoutview {
  background-color: var(--theme-sidebar-background);
}

/* Firebug theme version that is missing for a rule in resource://devtools/client/shared/components/tabs/tabs.css of Firefox 50 */
/* Make sure panel content takes entire vertical space.
  (minus the height of the tab bar) */
.theme-firebug .tabs .panels {
  height: calc(100% - 28px);
}

/* This is in deference to a rule in resource://devtools/client/shared/components/tabs/tabs.css of Firefox 50 */
/* The rule should be in firebug-theme.css, but I placed it here because it only affects the inspector's tabs */
.theme-firebug .tabs > * > .tabs-menu > .tabs-menu-item > a {  /* To superceed selector '.theme-firebug .tabs .tabs-menu-item a'*/
  color: #565656; /* It was var(--theme-body-color)  --johnGraciliano */
}

/* A rule in 'firebug-theme.css' makes the tabs overflow visible (so the bottom margin can be covered).
 * But that allows the 'Box Model' layout to be as wide as the tabs toolbar and end up with a horizontal overflow.
 * The next rule binds the tabs within the available space to avoid that problem in the layout.   --johnGraciliano
 */
.theme-firebug #inspector-sidebar > stack {
  overflow: hidden;
}

.theme-firebug #inspector-sidebar .devtools-sidebar-alltabs {
  margin: 0; /* Added.  However this button is always hidden because the tabs overflow is visible. --johnGraciliano */
}