/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@supports (not (line-height:calc(1px))) { /* Firefox < 48 */
  :root[platform="mac"] #inspector-toolbar:-moz-locale-dir(ltr) {
    padding-left: 2px;
  }
  :root[platform="mac"] #inspector-toolbar:-moz-locale-dir(rtl) {
    padding-left: 4px;
  }
  @supports (-moz-osx-font-smoothing: auto) { /* For FF < 45 where the attribute platform is absent. This detects mac OS X 10.6+ */
    :root #inspector-toolbar:-moz-locale-dir(ltr) {
      padding-left: 2px;
    }
    :root #inspector-toolbar:-moz-locale-dir(rtl) {
      padding-left: 4px;
    }
  }
}

/* The following rules for #inspector-toolbar are for late FF49.
 * The tag 'div' prevent the rules from applying in distinct from earlier versions.
 * The corresponding tag is 'toolbar' in earlier versions.
 * This is part for the change from xul to xhtml but the namespace is not stated.
 */
/* Use flex layout for the Inspector toolbar. For now, it's done
   specifically for the Inspector toolbar since general rule applied
   on .devtools-toolbar breaks breadcrubs and also toolbars in other
   panels (e.g. webconsole, debugger), these are not ready for HTML
   layout yet. */

div#inspector-toolbar.devtools-toolbar {
  display: flex;
}

div#inspector-toolbar.devtools-toolbar .devtools-toolbar-spacer {
  flex-grow: 1;
  display: inline-block;
}

#inspector-searchlabel {
  overflow: hidden;
}

/* Make sure the text is vertically centered in Inspector's
   search box. This can be removed when the search box is
   switched to HTML.
   See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1265759 */
.theme-dark #inspector-searchbox,
.theme-light #inspector-searchbox {
  line-height: 19px;
}
.theme-firebug #inspector-searchbox {
  line-height: 17px;
}

#inspector-breadcrumbs ~ #inspector-searchbox {
  transition-property: max-width, -moz-padding-end, -moz-padding-start;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

#inspector-breadcrumbs ~ #inspector-searchbox:not([focused]):not([filled]) > .textbox-input-box {
  overflow: hidden;
}

#inspector-breadcrumbs ~ #inspector-searchbox:not([focused]):not([filled]) {
  max-width: 20px !important;
  -moz-padding-end: 5px;
  -moz-padding-start: 22px;
  background-position: 8px center, top left, top left;
}

#inspector-breadcrumbs ~ #inspector-searchbox[focused],
#inspector-breadcrumbs ~ #inspector-searchbox[filled] {
  max-width: 200px !important;
}

#inspector-breadcrumbs-toolbar {
  padding: 0px;
  border-bottom-width: 0px;
  border-top-width: 1px;
}

/* The following rules for #inspector-breadcrumbs* are for late FF49.
 * The tag 'div' prevent the rules from applying in distinct from earlier versions.
 * DOM node div#inspector-breadcrumbs-toolbar replace toolbar#inspector-breadcrumbs-toolbar
 * DOM node div#inspector-breadcrumbs replace arrowscrollbox#inspector-breadcrumbs
 * This is part for the change from xul to xhtml but the namespace is not stated.
 */
div#inspector-breadcrumbs-toolbar {
  display: block;
  position: relative;
}

div#inspector-breadcrumbs-toolbar,
div#inspector-breadcrumbs-toolbar * {
  box-sizing: border-box;
}

div#inspector-breadcrumbs { /* For late FF49.  The tag 'div' makes it distinct from earlier versions, where it was 'toolbar'. */
  display: flex;

  /* Break out of the XUL flexbox, so the splitter can still shrink the
     markup view even if the contents of the breadcrumbs are wider than
     the new width. */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div#inspector-breadcrumbs .scrollbutton-up,
div#inspector-breadcrumbs .scrollbutton-down {
  flex: 0;
  display: flex;
  align-items: center;
}

div#inspector-breadcrumbs .html-arrowscrollbox-inner {
  flex: 1;
  display: flex;
  overflow: hidden;
}

div#inspector-breadcrumbs .breadcrumbs-widget-item {
  white-space: nowrap;
  flex-shrink: 0;
  font: message-box;
}

/* Expand/collapse panel toolbar button */

#inspector-pane-toggle::before {
  background-image: url(images/pane-toggle.svg#collapse);
}
#inspector-pane-toggle {
  list-style-image: url(images/pane-toggle.svg#collapse);
}

#inspector-pane-toggle[pane-collapsed]::before {
  background-image: url(images/pane-toggle.svg#expand);
}
#inspector-pane-toggle[pane-collapsed] {
  list-style-image: url(images/pane-toggle.svg#expand);
}

@media (max-width: 700px) {
  #inspector-pane-toggle::before {
    background-image: url(images/pane-toggle.svg#v-collapse);
  }
  #inspector-pane-toggle {
    list-style-image: url(images/pane-toggle.svg#v-collapse);
  }

  #inspector-pane-toggle[pane-collapsed]::before {
    background-image: url(images/pane-toggle.svg#v-expand);
  }
  #inspector-pane-toggle[pane-collapsed] {
    list-style-image: url(images/pane-toggle.svg#v-expand);
  }
}

:root.theme-firebug #inspector-pane-toggle::before {
  background-image: url(images/firebug/pane-collapse.svg);
}
:root.theme-firebug #inspector-pane-toggle {
  list-style-image: url(images/firebug/pane-collapse.svg);
}

:root.theme-firebug #inspector-pane-toggle[pane-collapsed]::before {
  background-image: url(images/firebug/pane-expand.svg);
}
:root.theme-firebug #inspector-pane-toggle[pane-collapsed] {
  list-style-image: url(images/firebug/pane-expand.svg);
}

@media (max-width: 700px) {
  :root.theme-firebug #inspector-pane-toggle::before,
  :root.theme-firebug #inspector-pane-toggle > .toolbarbutton-icon {
    transform: rotate(90deg);
  }
}

/* Add element toolbar button */

#inspector-element-add-button::before {
  background-image: url(images/add.svg);
}
#inspector-element-add-button {
  list-style-image: url(images/add.svg);
}

/* Tooltip: Events */

#devtools-tooltip-events-container {
  margin: -4px; /* Compensate for the .panel-arrowcontent padding. */
  max-width: 590px;
  overflow-y: auto;
}

.event-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.event-header:first-child {
  border-width: 0;
}

.event-header:not(:first-child) {
  border-width: 1px 0 0 0;
}

.event-tooltip-event-type,
.event-tooltip-filename,
.event-tooltip-attributes {
  -moz-margin-start: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.event-tooltip-event-type {
  font-weight: bold;
  font-size: 13px;
}

.event-tooltip-filename {
  -moz-margin-end: 0;
  font-size: 100%;
  flex-shrink: 1;
}

.event-tooltip-debugger-icon {
  width: 16px;
  height: 16px;
  -moz-margin-end: 4px;
  opacity: 0.6;
  flex-shrink: 0;
}

.event-tooltip-debugger-icon:hover {
  opacity: 1;
}

.event-tooltip-content-box {
  display: none;
  height: 100px;
  overflow: hidden;
  -moz-margin-end: 0;
  border: 1px solid var(--theme-splitter-color);
  border-width: 1px 0 0 0;
}

.event-toolbox-content-box iframe {
  height: 100%;
}

.event-tooltip-content-box[open] {
  display: block;
}

.event-tooltip-source-container {
  margin-top: 5px;
  margin-bottom: 10px;
  -moz-margin-start: 5px;
  -moz-margin-end: 0;
}

.event-tooltip-source {
  margin-bottom: 0;
}

.event-tooltip-attributes-container {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: flex-end;
}

.event-tooltip-attributes-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-radius: 3px;
  padding: 2px;
  -moz-margin-start: 5px;
  background-color: var(--theme-body-color-alt);
  color: var(--theme-toolbar-background);
}

.event-tooltip-attributes {
  margin: 0;
  font-size: 9px;
  padding-top: 2px;
}
