/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Storage Host Tree */

#storage-tree {
  min-width: 220px;
  max-width: 500px;
  overflow: auto;
}

#storage-tree {
  background: var(--theme-sidebar-background);
}

#storage-tree .tree-widget-item[type="store"]:after {
  background-image: url(./images/filetypes/store.svg);
  background-size: 18px 18px;
  background-position: -1px 0;
}

label.table-widget-column-header{
  -moz-padding-start: 7px !important;
  -moz-padding-end: 13px !important;
  min-width: 4em;
}

label.table-widget-column-header:last-child{
  border-bottom-width: 1px!important;
  height: 25px; /* The value for .devtools-toolbar in toolbars.css, 24px, plus 1px for the extra bottom border */
}
label.table-widget-column-header:last-child:not([sorted]){
  --border-img: linear-gradient(transparent 15%, var(--theme-splitter-color) 15%, var(--theme-splitter-color) 85%, transparent 85%, transparent  calc(100% - 1px), var(--theme-splitter-color) calc(100% - 1px)) 1 1;
  border-image: var(--border-img);
}

.table-widget-wrapper:last-of-type > .table-widget-column > label.table-widget-column-header{
  -moz-border-end-width: 0 !important;
  border-inline-end-width: 0 !important;
}

/* Columns with date should have a min width so that date is visible */
#expires, #lastAccessed, #creationTime {
  min-width: 150px;
}

/* Variables View Sidebar */

#storage-sidebar {
  max-width: 500px;
  min-width: 250px;
}

/* Responsive sidebar */
@media (max-width: 700px) {
  #storage-tree {
    max-width: 100%;
  }

  #storage-table .table-widget-cell {
    min-width: 100px;
  }

  #storage-sidebar {
    max-width: unset;
  }
}
