/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* General output styles */

a {
  -moz-user-focus: normal;
  -moz-user-input: enabled;
  cursor: pointer;
  text-decoration: underline;
}

/* Workaround for Bug 575675 - FindChildWithRules aRelevantLinkVisited
 * assertion when loading HTML page with links in XUL iframe */
*:visited { }

.message {
  display: flex;
  padding: 0 7px;
  width: 100%;
  box-sizing: border-box;
}

.message > .prefix,
.message > .timestamp {
  flex: none;
  color: var(--theme-comment);
  margin: 3px 6px 0 0;
}

.message > .indent {
  flex: none;
}

.message > .icon {
  flex: none;
  margin: 3px 6px 0 0;
  padding: 0 4px;
  height: 1em;
  align-self: flex-start;
}

.theme-firebug .message > .icon {
  margin: 0;
  margin-inline-end: 6px;
}

.theme-firebug .message[severity="error"] {
  color: #FF0000; /* var(--error-color) */
  background-color: #FFEBEB; /* var(--error-background-color) */
}

.theme-firebug .message[severity="warn"] {
  background-color: #FFFFC8; /* var(--warning-background-color) */
}

.message > .icon::before {
  content: "";
  background-image: url(images/webconsole.svg);
  background-position: 12px 12px;
  background-repeat: no-repeat;
  background-size: 72px 60px;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.theme-light .message > .icon::before {
  background-image: url(images/webconsole.svg#light-icons);
}

.message > .message-body-wrapper {
  flex: auto;
  min-width: 0px;
  margin: 3px;
}

.message-body-wrapper .table-widget-body {
  overflow: visible;
}

/* The red bubble that shows the number of times a message is repeated */
.message-repeats {
  -moz-user-select: none;
  flex: none;
  margin: 0 6px; /* 2px 6px; --johnGraciliano */
  padding: 0 4px; /* 0 6px; --johnGraciliano */
  height: 1.2em; /* 1.25em; --johnGraciliano */
  color: white;
  background-color: red;
  border-radius: .6em; /* 40px; --johnGraciliano */
  font: message-box;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.2 /* --johnGraciliano */
}
.message > .message-repeats { /* Firefox <= 49 */
  margin-top: 4px;
}

.message-repeats[value="1"] {
  display: none;
}

a.message-location { /* Firefox <= 49 */
  display: flex;
  flex: none;
  align-self: flex-start;
  justify-content: flex-end;
  /* width: 10em; */
  margin-top: 3px;
  color:  var(--theme-highlight-blue); /* -moz-nativehyperlinktext; --johnGraciliano */
  text-decoration: none;
  white-space: nowrap;
}
.message-location {
  max-width: 40%;
}

/* More space for the location data for location URL */
/****
.theme-firebug .message-location {
  width: 13em;
}
 ****/

.message-location:hover,
.message-location:focus {
  text-decoration: underline;
}

.message-location > .filename { /* Firefox <= 47*/
  direction: rtl;
  text-overflow: ellipsis;
  text-align: end;
  overflow: hidden;
}

.message-location > .line-number { /* Firefox <= 47*/
  color: var(--theme-highlight-orange);
  flex: none;
}

.stack-trace .frame-link-source,
.message-location .frame-link-source {
  /* Makes the file name truncated (and ellipsis shown) on the left side */
  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stack-trace .frame-link-source-inner,
.message-location .frame-link-source-inner {
  /* Enforce LTR direction for the file name - fixes bug 1290056 */
  direction: ltr;
  unicode-bidi: embed;
}

.stack-trace .frame-link-function-display-name {
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-flex-body {
  display: flex;
}

.message-body > * {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-flex-body > .message-body {
  display: block;
  flex: auto;
}

#output-wrapper {
  direction: ltr;
  overflow: auto;
  -moz-user-select: text; /* Now inherited by #output-container */
}

@supports (not (line-height:calc(1px))) { /* Firefox < 48 */   /*  REMOVED IN 46!!!  FIX IT!!!   MAKE IT FIREFOX < 46 !!! */
/* The next rule is removed in Firefox 46 due to:
   The width on #output-container is set to a hardcoded px in webconsole.js
   since it's way faster than using 100% with -moz-box-flex (see Bug 1237368) */
  #output-container {
    -moz-box-flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

#output-container.hideTimestamps > .message {
  -moz-padding-start: 0;
  -moz-margin-start: 7px;
  padding-inline-start: 0;
  margin-inline-start: 7px;
  width: calc(100% - 7px);
}

#output-container.hideTimestamps > .message > .timestamp {
  display: none;
}

#output-container.hideTimestamps > .message > .indent {
  background-color: var(--theme-body-background);
}

.filtered-by-type,
.filtered-by-string {
  display: none;
}

.hidden-message {
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* WebConsole colored drops */

.webconsole-filter-button {
  -moz-user-focus: normal;
}

.webconsole-filter-button > .toolbarbutton-menubutton-button:before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 5px;
  border-width: 1px;
  border-style: solid;
}

.theme-light .hud-console-filter-toolbar {
  --table-splitter-color: rgba(190,190,190,.85);
  --disc-shadow-color: #4c4c4c;
  --disc-shadow-color: rgba(76,76,76,0.625);
  --disc-shadow-color: rgba(76,76,76,0.5);
}

.theme-dark .hud-console-filter-toolbar {
  --table-splitter-color: hsla(210,8%,5%,.6);
  --disc-shadow-color: #1d1d1d;
  --disc-shadow-color: rgba(29,29,29,0.75);
}

:root:not(.theme-firebug) .devtools-toolbarbutton-group {
  -moz-border-start: 1px solid var(--table-splitter-color);
}

[class][class].webconsole-filter-button{
  margin: 0;
  padding: 0 .35vw !important; /* Override rule in chrome://ostarget/skin/global/toolbarbutton.css */
  -moz-border-end: 1px solid var(--table-splitter-color);
  border-inline-end: 1px solid var(--table-splitter-color);
  -moz-appearance: none;
}

:root:not(.theme-firebug) [class][class].webconsole-filter-button:hover{
  background: rgba(0,0,0,0.10);
}

:root:not(.theme-firebug) [class][class].webconsole-filter-button:not([checked=true]):hover:active{
  background-color: var(--theme-selection-background-semitransparent);
}

:root:not(.theme-firebug) [class][class].webconsole-filter-button[checked=true]{
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

:root.theme-firebug .webconsole-filter-button {
  border: 1px solid transparent;
  margin-inline-end: 1px;
}

:root.theme-firebug .webconsole-filter-button:not(:hover):not([checked=true]):first-child,
:root.theme-firebug .webconsole-filter-button:not(:hover):not([checked=true]) + .webconsole-filter-button:not(:hover):not([checked=true]) {
  border-inline-start-color: rgba(0,0,0,0.125);
}

:root.theme-firebug [class][class].devtools-toolbarbutton.webconsole-filter-button:hover {
  border-color: rgba(0, 0, 0, 0.2);
  background: transparent linear-gradient(rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2)) no-repeat;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6) inset, 0 0 1px rgba(255, 255, 255, 0.6) inset,
      0 0 2px rgba(0, 0, 0, 0.05);
}

:root.theme-firebug [class][class].webconsole-filter-button:hover:active {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.1) inset,
      0 0 2px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}

:root.theme-firebug [class][class].webconsole-filter-button:not(:active)[checked=true] {
  background: rgba(255,255,255,.05) linear-gradient(rgba(0, 0, 0, 0.1), transparent) no-repeat;
  color: inherit;
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

:root.theme-firebug .toolbarbutton-menubutton-dropmarker {
  filter: brightness(.375);
}

.webconsole-filter-button > .toolbarbutton-menubutton-button > .toolbarbutton-text{
  padding: 0 .25vw;
}

.webconsole-filter-button[checked=true] > .toolbarbutton-menubutton-button:before {
  box-shadow: .25px .75px 2.5px var(--disc-shadow-color);
}

/* Network styles */
.webconsole-filter-button[category="net"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#4c4c4c, #000000);
  border-color: #181818;
}

.message:hover {
  background-color: var(--theme-selection-background-semitransparent) !important;
}

.theme-light .message[severity=error] {
  background-color: rgba(255, 150, 150, 0.3);
}

.theme-dark .message[severity=error] {
  background-color: rgba(235, 83, 104, 0.17);
}

.console-string {
  color: var(--theme-highlight-lightorange);
}

.theme-selected .console-string,
.theme-selected .cm-number,
.theme-selected .cm-variable,
.theme-selected .kind-ArrayLike {
  color: #f5f7fa !important; /* Selection Text Color */
}

.message[category=network] > .indent {
  -moz-border-end: solid #000 6px;
}
:root.theme-dark .message[category=network] > .indent {
  box-shadow: 1px 0 0 rgba(255,255,255,0.0225), -1px 0 0 rgba(255,255,255,0.0225); /* Highlight border to improve contrast */
}

.message[category=network][severity=error] > .icon::before {
  background-position: -12px 0;
}

.message[category=network] > .message-body {
  display: flex;
  flex-wrap: wrap;
}

.message[category=network] .method {
  flex: none;
}

.message[category=network]:not(.navigation-marker) .url {
  flex: 1 1 auto;
  /* Make sure the URL is very small initially, let flex change width as needed. */
  width: 100px;
  min-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message[category=network] .status {
  flex: none;
  -moz-margin-start: 6px;
}

.message[category=network].mixed-content .url {
  color: var(--theme-highlight-red);
}

.message .learn-more-link {
  color: var(--theme-highlight-blue);
  margin: 0 6px;
}

.message[category=network] .xhr {
  background-color: var(--theme-body-color-alt);
  color: var(--theme-body-background);
  border-radius: 3px;
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
  line-height: 10px;
  margin-inline-start: 1px; /* This is 3px in the default theme --johnGraciliano */
  margin-inline-end: 1ex;
  -moz-margin-start: 1px;
  -moz-margin-end: 1ex;
}

/* CSS styles */
.webconsole-filter-button[category="css"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#2DC3F3, #00B6F0);
  border-color: #2DBA3E;
}

.message[category=cssparser] > .indent {
  -moz-border-end: solid #00b6f0 6px;
}

.message[category=cssparser][severity=error] > .icon::before {
  background-position: -12px -12px;
}

.message[category=cssparser][severity=warn] > .icon::before {
  background-position: -24px -12px;
}

/* JS styles */
.webconsole-filter-button[category="js"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#FCB142, #FB9500);
  border-color: #E98A00;
}

.message[category=exception] > .indent {
  -moz-border-end: solid #fb9500 6px;
}

.message[category=exception][severity=error] > .icon::before {
  background-position: -12px -24px;
}

.message[category=exception][severity=warn] > .icon::before {
  background-position: -24px -24px;
}

/* Web Developer styles */
.webconsole-filter-button[category="logging"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#B4B4B4, #EAEAEA);
  border-color: #A6A6A6;
}

.message[category=console] > .indent {
  -moz-border-end: solid #cbcbcb 6px;
}

.message[category=console][severity=error] > .icon::before,
.message[category=output][severity=error] > .icon::before,
.message[category=server][severity=error] > .icon::before {
  background-position: -12px -36px;
}

.message[category=console][severity=warn] > .icon::before,
.message[category=server][severity=warn] > .icon::before {
  background-position: -24px -36px;
}

.message[category=console][severity=info] > .icon::before,
.message[category=server][severity=info] > .icon::before {
  background-position: -36px -36px;
}

/* Server Logging Styles */

.webconsole-filter-button[category="server"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#56B156, #87C987);
  border-color: #64c864;
}

.message[category=server] > .indent {
  -moz-border-end: solid #90B090 6px;
}

/* Input and output styles */
.message[category=input] > .indent,
.message[category=output] > .indent {
  -moz-border-end: solid #808080 6px;
}

.message[category=input] > .icon::before {
  background-position: -48px -36px;
}

.message[category=output] > .icon::before {
  background-position: -60px -36px;
}

/* JSTerm Styles */
.jsterm-input-container {
  background-color: var(--theme-tab-toolbar-background);
  border-top: 1px solid var(--theme-splitter-color);
}

.theme-light .jsterm-input-container {
  /* For light theme use a white background for the input - it looks better
     than off-white */
  background-color: #fff;
  border-top-color: #e0e0e0;
}

.theme-firebug .jsterm-input-container {
  border-top: 1px solid #ccc;
}

.jsterm-input-node,
.jsterm-complete-node {
  border: none;
  padding: 0;
  -moz-padding-start: 18px;
  padding-inline-start: 18px;
  margin: 0;
  -moz-appearance: none;
  background-color: transparent;
}

.jsterm-input-node[focused="true"] {
  background-image: url(images/commandline-icon.svg#light-theme-focus);
  box-shadow: none;
}

.jsterm-complete-node {
  color: var(--theme-comment);
}

.jsterm-input-node {
  /* Always allow scrolling on input - it auto expands in js by setting height,
     but don't want it to get bigger than the window. 24px = toolbar height. */
  max-height: calc(90vh - 24px);
  background-image: url(images/commandline-icon.svg#light-theme);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 2px center;   /* --johnGraciliano */
  color: var(--theme-content-color1);
}

.theme-dark .jsterm-input-node:not([focused="true"]) {
  background-image: url(images/commandline-icon.svg#dark-theme);
}

.theme-firebug .jsterm-input-node[focused="true"] {
  background-image: url(images/firebug/commandline-icon.svg#focus);
}

.theme-firebug .jsterm-input-node {
  background-image: url(images/firebug/commandline-icon.svg);
  background-position: 4px center;   /* --johnGraciliano */
}

:-moz-any(.jsterm-input-node,
          .jsterm-complete-node) > .textbox-input-box > .textbox-textarea {
  overflow-x: hidden;
  /* Set padding for console input on textbox to make sure it is inlcuded in
     scrollHeight that is used when resizing JSTerminal's input. Note: textbox
     default style has important already */
  padding: 4px 0 !important;
}

.inlined-variables-view .message-body {
  display: flex;
  flex-direction: column;
  resize: vertical;
  overflow: auto;
  min-height: 200px;
}
.inlined-variables-view iframe {
  display: block;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 15px;
  -moz-margin-end: 15px;
  margin-inline-end: 15px;
  border: 1px solid var(--theme-splitter-color);
  border-radius: 3px;
}

#webconsole-sidebar > tabs {
  height: 0;
  border: none;
}

/* Firebug theme has the tabs visible. */
.theme-firebug #webconsole-sidebar > tabs {
  height: 28px;
}

.devtools-side-splitter ~ #webconsole-sidebar[hidden] {
  display: none;
}

/* Security styles */

.message[category=security] > .indent {
  -moz-border-end: solid red 6px;
  border-inline-end: solid red 6px;
}

.webconsole-filter-button[category="security"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#FF3030, #FF7D7D);
  border-color: #D12C2C;
}

.message[category=security][severity=error] > .icon::before {
  background-position: -12px -48px;
}

.message[category=security][severity=warn] > .icon::before {
  background-position: -24px -48px;
}

.navigation-marker {
  color: #aaa;
  background: linear-gradient(#aaa, #aaa) no-repeat left 50%;
  background-size: 100% 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 0.9em;
}

.navigation-marker .url {
  -moz-padding-end: 9px;
  padding-inline-end: 9px;
  text-decoration: none;
  background: var(--theme-body-background);
}

.theme-light .navigation-marker .url {
  background: #fff;
}

.stacktrace {
  display: none;
  padding: 5px 10px;
  margin: 5px 0 0 0;
  overflow-y: auto;
  border: 1px solid var(--theme-splitter-color);
  border-radius: 3px;
}

.consoletable {
  margin: 5px 0 0 0;
}

/* Force cells to only show one row of contents.  Getting normal ellipses
   behavior has proven impossible so far, so this is better than letting
   rows get out of vertical alignment when one cell has a lot of content. */
.consoletable .table-widget-cell > span {
  overflow: hidden;
  display: flex;
  height: 1.25em;
  line-height: 1.25em;
}

.theme-light .message[severity=error] .stacktrace {
  background-color: rgba(255, 255, 255, 0.5);
}

.theme-dark .message[severity=error] .stacktrace {
  background-color: rgba(0, 0, 0, 0.5);
}

.message[open] .stacktrace {
  display: block;
}

.message .theme-twisty {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0 0 0;
  flex-shrink: 0;
}

/**********  For Firefox <=49 ****************************************/
.stacktrace > li {
  display: flex;
  margin: 0 -3px;
  padding: 0 3px;
}

.stacktrace > li:nth-child(2n+0) {
  background-color: rgba(128,128,128,.08);
}

.stacktrace > * > .function {
  display: block;
  flex: 1 1 auto;
}
/**********  For Firefox <=49 ****************************************/

.cm-s-mozilla a[class] {
  font-style: italic;
  text-decoration: none;
}

.cm-s-mozilla a[class]:hover,
.cm-s-mozilla a[class]:focus {
  text-decoration: underline;
}

a.learn-more-link.webconsole-learn-more-link {
    font-style: normal;
}

/* Open DOMNode in inspector button */
.open-inspector {
  background: url(images/vview-open-inspector.png) no-repeat 0 0;
  padding-left: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.elementNode:hover .open-inspector,
.open-inspector:hover {
  filter: url(images/filters.svg#checked-icon-state);
}

.elementNode:hover .open-inspector:active,
.open-inspector:active {
  filter: url(images/filters.svg#checked-icon-state) brightness(0.9);
}


/* Force the icon only style for the clear button */

.webconsole-clear-console-button:not(.devtools-clear-icon) > .toolbarbutton-icon{
  list-style-image: url(images/clear.svg);
}
/* Hide the text labels to make image only buttons (some versions of Firefox). --johnGraciliano */
.webconsole-clear-console-button:not(.devtools-clear-icon) > .toolbarbutton-text,
.webconsole-clear-console-button:not(.devtools-clear-icon) > .toolbarbutton-multiline-text{
  display: none;
}
/* Eliminate background behavior */
[class][class][class][class][class].webconsole-clear-console-button:not(.devtools-clear-icon){
  background-color: transparent;
}

/* The next two rule sets help the buttons behave as image only --johnGraciliano */
.webconsole-clear-console-button:not(.devtools-clear-icon) > .toolbarbutton-icon{
  opacity: .8;
}
.webconsole-clear-console-button:not(.devtools-clear-icon):hover > .toolbarbutton-icon{
  opacity: 1;
}

/**
 * Due to toolbar styles of `.devtools-toolbarbutton:not([label])` which overrides
 * .devtools-toolbarbutton's min-width of 78px, reset the min-width.
 */
.webconsole-clear-console-button:not(.devtools-clear-icon) {
  min-width: 32px;
}


@media (max-width: 555px) { /* This was 500px --johnGraciliano */
  .message > .timestamp {
    display: none;
  }
  .hud-console-filter-toolbar .webconsole-filter-button .toolbarbutton-text {
    display: none;
  }
  .hud-console-filter-toolbar .webconsole-filter-button {
    min-width: 40px;
  }
  .hud-console-filter-toolbar toolbarbutton.webconsole-clear-console-button {
    min-width: 25px;
  }
  .webconsole-filter-button > .toolbarbutton-menubutton-button:before {
    width: 12px;
    height: 12px;
    -moz-margin-start: 1px;
    margin-inline-start: 1px;
  }
  .toolbarbutton-menubutton-dropmarker {
    margin: 0px;
  }
}

@supports (hyphens:none) { /* Firefox version >= 43 */
  @media not all and (max-width: 555px) {  /* Only beyond (max-width: 555px) */
    @media (max-width: 640px) { /* Up to (max-width: 640px) */
      /* Replicate the rules from the preceeding block '@media (max-width: 555px)' --johnGraciliano */
      .message > .timestamp {
        display: none;
      }
      .hud-console-filter-toolbar .webconsole-filter-button .toolbarbutton-text {
        display: none;
      }
      .hud-console-filter-toolbar .webconsole-filter-button {
        min-width: 40px;
      }
      .hud-console-filter-toolbar toolbarbutton.webconsole-clear-console-button {
        min-width: 25px;
      }
      .webconsole-filter-button > .toolbarbutton-menubutton-button:before {
        width: 12px;
        height: 12px;
        -moz-margin-start: 1px;
        margin-inline-start: 1px;
      }
      .toolbarbutton-menubutton-dropmarker {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 300px) {
  .hud-console-filter-toolbar {
    -moz-box-orient: vertical;
  }
  .toolbarbutton-text {
    display: -moz-box;
  }
  .devtools-toolbarbutton {
    margin-top: 3px;
  }
  .hud-console-filter-toolbar .hud-filter-box,
  .hud-console-filter-toolbar .devtools-toolbarbutton {
    margin-top: 5px;
  }
}

/*
 * This hardcoded width likely due to a toolkit Windows specific bug.
 * See http://hg.mozilla.org/mozilla-central/annotate/f38d6df93cad/toolkit/themes/winstripe/global/textbox-aero.css#l7
 */

:root[platform="win"] .hud-filter-box {
  -moz-box-flex: 1;  /* Let the box shrink */
  max-width: 200px;  /* This used to be width --johnGraciliano */
  min-width: 16ch;
}
@media (-moz-os-version) { /* For FF < 45 where the attribute platform is absent, this detects any Windows */
  :root .hud-filter-box {
    -moz-box-flex: 1;  /* Let the box shrink */
    max-width: 200px;  /* This used to be width --johnGraciliano */
    min-width: 16ch;
  }
}

/* Firebug theme support for console.table() */

.theme-firebug .consoletable .theme-body {
  width: 100%;
  border-top: 1px solid #D7D7D7;
  border-bottom: 2px solid #D7D7D7;
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
}
