/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
}

#downloadsRichListBox > richlistitem.download {
  height: 6em;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  -moz-margin-start: 8px;
  margin-inline-end: 8px;
  margin-inline-start: 8px;
  /* explicitly size the icon, so size doesn't vary on hidpi systems */
  height: 32px;
  width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

.downloadTarget {
  margin-bottom: 3px;
  cursor: inherit;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  background: transparent;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg");
}

@supports (ruby-position:over) { /* Firefox >= 38 --johnGraciliano */
  /* Hide 'Open Containing Folder' button if the item is missing (e.g., after being removed by the user) --johnGraciliano */
  /* Modified from chrome://browser/content/downloads/download.css */
  richlistitem.download.download-state[state="1"]:not([exists]) .downloadShow {
    display: none;
  }
}

/*** Button icons ***/

.downloadButton.downloadIconCancel,
.downloadButton.downloadConfirmBlock,
.downloadButton.downloadCancel {
  -moz-image-region: rect(2px, 18px, 18px, 2px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconCancel,
richlistitem.download:hover > * > .downloadButton.downloadConfirmBlock,
richlistitem.download:hover > * > .downloadButton.downloadCancel,
richlistitem.download:hover > .downloadButton.downloadConfirmBlock,
richlistitem.download:hover > .downloadButton.downloadCancel {
  -moz-image-region: rect(2px, 38px, 18px, 22px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconCancel:hover,
richlistitem.download:hover > * > .downloadButton.downloadConfirmBlock:hover,
richlistitem.download:hover > * > .downloadButton.downloadCancel:hover,
richlistitem.download:hover > .downloadButton.downloadConfirmBlock:hover,
richlistitem.download:hover > .downloadButton.downloadCancel:hover {
  -moz-image-region: rect(2px, 58px, 18px, 42px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconCancel:active,
richlistitem.download:hover > * > .downloadButton.downloadConfirmBlock:active,
richlistitem.download:hover > * > .downloadButton.downloadCancel:active,
richlistitem.download:hover > .downloadButton.downloadConfirmBlock:active,
richlistitem.download:hover > .downloadButton.downloadCancel:active {
  -moz-image-region: rect(2px, 78px, 18px, 62px);
}

.downloadButton.downloadIconShow,
.downloadButton.downloadShow {
  -moz-image-region: rect(22px, 18px, 38px, 2px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconShow,
richlistitem.download:hover > * > .downloadButton.downloadShow,
richlistitem.download:hover > .downloadButton.downloadShow {
  -moz-image-region: rect(22px, 38px, 38px, 22px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconShow:hover,
richlistitem.download:hover > * > .downloadButton.downloadShow:hover,
richlistitem.download:hover > .downloadButton.downloadShow:hover {
  -moz-image-region: rect(22px, 58px, 38px, 42px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconShow:active,
richlistitem.download:hover > * > .downloadButton.downloadShow:active,
richlistitem.download:hover > .downloadButton.downloadShow:active {
  -moz-image-region: rect(22px, 78px, 38px, 62px);
}

.downloadButton.downloadIconRetry,
.downloadButton.downloadRetry {
  -moz-image-region: rect(42px, 18px, 58px, 2px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconRetry,
richlistitem.download:hover > * > .downloadButton.downloadRetry,
richlistitem.download:hover > .downloadButton.downloadRetry {
  -moz-image-region: rect(42px, 38px, 58px, 22px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconRetry:hover,
richlistitem.download:hover > * > .downloadButton.downloadRetry:hover,
richlistitem.download:hover > .downloadButton.downloadRetry:hover {
  -moz-image-region: rect(42px, 58px, 58px, 42px);
}

richlistitem.download:hover > * > .downloadButton.downloadIconRetry:active,
richlistitem.download:hover > * > .downloadButton.downloadRetry:active,
richlistitem.download:hover > .downloadButton.downloadRetry:active {
  -moz-image-region: rect(42px, 78px, 58px, 62px);
}

#downloadsRichListBox > richlistitem.download[selected] {
  background-color: -moz-cellhighlight;
  color: -moz-cellhighlighttext;
  outline: none;
}

#downloadsRichListBox:focus > richlistitem.download[selected] {
  background-color: #eaeaea; /* as in places.css by Louis */
}

@media (-moz-windows-default-theme) {
  /*
  -moz-appearance: menuitem is almost right, but the hover effect is not
  transparent and is lighter than desired.

  Copied from the autocomplete richlistbox styling in
  toolkit/themes/windows/global/autocomplete.css

  This styling should be kept in sync with the style from the above file.
  */
  #downloadsRichListBox:focus > richlistitem.download[selected],
  #downloadsRichListBox > richlistitem.download[selected] {
    color: inherit;
    background-color: transparent;
    /* four gradients for the bevel highlights on each edge, one for blue background */
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0.9) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to right, rgba(255,255,255,0.5) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to left, rgba(255,255,255,0.5) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to top, rgba(255,255,255,0.4) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to bottom, rgba(163,196,247,0.3), rgba(122,180,246,0.3));
    background-clip: content-box;
    border-radius: 6px;
    outline: 1px solid rgb(124,163,206);
    -moz-outline-radius: 3px;
    outline-offset: -2px;
  }
  #downloadsRichListBox > richlistitem.download:not([selected]):hover {
    color: inherit;
    background-color: transparent;
    /* four gradients for the bevel highlights on each edge, one for blue background */
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0.45) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to right, rgba(255,255,255,0.25) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to left, rgba(255,255,255,0.25) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to top, rgba(255,255,255,0.2) 3px, rgba(255,255,255,0) 3px),
      linear-gradient(to bottom, rgba(163,196,247,0.07), rgba(122,180,246,0.07));
    background-clip: content-box;
    border-radius: 6px;
    outline: 1px solid rgba(124,163,206,.5);
    -moz-outline-radius: 3px;
    outline-offset: -2px;
  }
}

/*
 *
 * Added by Louis */
#downloadsRichListBox > richlistitem.download {
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid rgb(230,230,230);
  outline: none;
}
#downloadsRichListBox > richlistitem.download[selected] .downloadProgress[mode="normal"] > .progress-bar {
  background-color: #48c7f6;
}
#downloadsRichListBox > richlistitem.download[selected] .progress-remainder {
  background-color: #e1e1e1;
}
#contentAreaDownloadsView,
#downloadsRichListBox {
   background-color: #fcfcfc;
}
