/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*** Panel and outer controls ***/

#downloadsPanel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

#downloadsListBox {
  background-color: transparent;
  padding: 4px;
  color: inherit;
}

#downloadsPanel:not([hasdownloads]) #downloadsListBox,
#downloadsPanel[hasdownloads] #emptyDownloads {
  display: none;
}

#emptyDownloads {
  padding: 10px 20px;
  max-width: 40ch;
}

#downloadsHistory {
  background: transparent;
  color: hsl(0,0%,30%);
  cursor: pointer;
}

#downloadsPanel[keyfocus] #downloadsFooter > #downloadsHistory:focus {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -1px;
}

#downloadsPanel:not([keyfocus])[hasdownloads] #downloadsFooter > #downloadsHistory:focus {
  outline: 1px hsl(0,0%,30%) dotted;
  outline-offset: -1px;
}

#downloadsHistory > .button-box {
  border: none;
  margin: 1em;
}

#downloadsFooter {
  border-top: 1px solid transparent;
}

#downloadsPanel[hasdownloads] #downloadsFooter {
  background-color: hsla(210,4%,10%,.07);
  border-top-color: hsla(210,4%,10%,.12);
  border-radius: 0 0 4px 4px;
}

#downloadsPanel[hasdownloads] #downloadsFooter:hover {
  background-color: hsla(210,4%,10%,.15);
  border-top-color: hsla(210,4%,10%,.14);
}

#downloadsPanel[hasdownloads] #downloadsFooter:hover:active {
  background-color: hsla(210,4%,10%,.19);
  box-shadow: 0 1px 0 hsla(210,4%,10%,.05) inset;
}

#downloadsPanel:not([hasdownloads]) #downloadsFooter:hover {
  background-color: hsla(210,4%,10%,.03);
  border-top-color: hsla(210,4%,10%,.07);
  border-radius: 0 0 4px 4px;
}

#downloadsPanel:not([hasdownloads]) #downloadsFooter:hover:active{
  background-color: hsla(210,4%,10%,.05);
}

/*** Downloads Summary and List items ***/

#downloadsSummary,
richlistitem[type="download"] {
  height: 7em;
  -moz-padding-end: 0;
  padding-inline-end: 0;
  color: inherit;
}

#downloadsSummary {
  padding: 8px 38px 8px 12px;
  cursor: pointer;
  -moz-user-focus: normal;
}

#downloadsPanel[keyfocus] #downloadsFooter > #downloadsSummary:focus {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -5px;
}

#downloadsSummary > .downloadTypeIcon {
  list-style-image: url("chrome://browser/skin/downloads/download-summary.png");
}

#downloadsSummaryDescription {
  color: -moz-nativehyperlinktext;
}

richlistitem[type="download"] {
  margin: 0;
  border: 1px solid transparent;
  border-top-color: hsla(0,0%,100%,.07);
  border-bottom-color: hsla(0,0%,0%,.2);
  background: transparent;
  padding: 8px;
  --limit-border-top-color: transparent;
  --limit-border-bottom-color: transparent;
}

richlistitem[type="download"]:first-child {
  border-top-color: var(--limit-border-top-color);
}

richlistitem[type="download"]:last-child {
  border-bottom-color: var(--limit-border-bottom-color);
}

#downloadsPanel[keyfocus] #downloadsListBox:focus > richlistitem[type="download"][selected] {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -1px;
}

#downloadsPanel:not([keyfocus]) #downloadsListBox:focus > richlistitem[type="download"][selected]:not([state="1"]):hover,
#downloadsPanel:not([keyfocus]) #downloadsListBox:focus > richlistitem[type="download"][selected]:not([exists]):hover,
#downloadsPanel:not([keyfocus]) #downloadsListBox:focus > richlistitem[type="download"][selected]:not(:hover) {
  outline: 1px rgba(139,153,182,.8) dotted;
  outline-offset: -1px;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  margin-inline-end: 8px;
  /* Prevent flickering when changing states. */
  height: 32px;
  width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

/* We hold .downloadTarget, .downloadProgress and .downloadDetails inside of
   a vbox with class .downloadContainer. We set the font-size of the entire
   container to 90% because:

   1) This is the size that we want .downloadDetails to be
   2) The container's width is set by localizers by &downloadDetails.width;,
      which is a ch unit. Since this is the value that should control the
      panel width, we apply it to the outer container to constrain
      .downloadTarget and .downloadProgress.

   Finally, since we want .downloadTarget's font-size to be at 100% of the
   font-size of .downloadContainer's parent, we use calc to go from the
   smaller font-size back to the original font-size.
 */
#downloadsSummaryDetails,
.downloadContainer {
  font-size: 90%;
}

#downloadsSummaryDescription,
.downloadTarget {
  margin-bottom: 6px;
  cursor: inherit;
}

.downloadTarget {
  font-size: calc(100%/0.9);
}

#downloadsSummaryDetails,
.downloadDetails {
  opacity: 0.6;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg");
}

.downloadButton > .button-box {
  border: 1px solid transparent;
  padding: 0;
}

#downloadsPanel[keyfocus] .downloadButton:focus > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

/*** Highlighted list items ***/

#downloadsPanel:not([keyfocus]) #downloadsListBox > richlistitem[type="download"][state="1"][exists]:hover {
  --limit-border-top-color: hsla(0,0%,0%,.08); /* Instead of this line, there was 'border-radius: 3px; border-top: 1px solid hsla(0,0%,100%,.2)' --johnGraciliano */
  --limit-border-bottom-color: hsla(0,0%,0%,.2); /* Instead of this line, there was 'border-radius: 3px; border-top: 1px solid hsla(0,0%,100%,.2)' --johnGraciliano */
  border-left-color: hsla(0,0%,0%,.08);
  border-right-color: hsla(0,0%,0%,.08);
  background-color: -moz-cellhighlight; /* This was Highlight --johnGraciliano */
  color: -moz-cellhighlighttext; /* This was HighlightText --johnGraciliano */
  cursor: pointer;
}

/*** Button icons ***/

.downloadButton.downloadIconCancel,
.downloadButton.downloadConfirmBlock,
.downloadButton.downloadCancel {
  -moz-image-region: rect(2px, 18px, 18px, 2px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconCancel,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadConfirmBlock,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel {
  -moz-image-region: rect(2px, 38px, 18px, 22px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconCancel:hover,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadConfirmBlock:hover,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:hover {
  -moz-image-region: rect(2px, 58px, 18px, 42px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconCancel:active,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadConfirmBlock:active,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:active {
  -moz-image-region: rect(2px, 78px, 18px, 62px);
}

.downloadButton.downloadIconShow,
.downloadButton.downloadShow {
  -moz-image-region: rect(22px, 18px, 38px, 2px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconShow,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow {
  -moz-image-region: rect(22px, 38px, 38px, 22px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconShow:hover,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow:hover {
  -moz-image-region: rect(22px, 58px, 38px, 42px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconShow:active,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow:active {
  -moz-image-region: rect(22px, 78px, 38px, 62px);
}

.downloadButton.downloadIconRetry,
.downloadButton.downloadRetry {
  -moz-image-region: rect(42px, 18px, 58px, 2px);
  cursor: pointer;
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconRetry,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry {
  -moz-image-region: rect(42px, 38px, 58px, 22px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconRetry:hover,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:hover {
  -moz-image-region: rect(42px, 58px, 58px, 42px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadIconRetry:active,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:active {
  -moz-image-region: rect(42px, 78px, 58px, 62px);
}

@media (-moz-windows-default-theme) {
  richlistitem[type="download"] {
    border: 1px solid transparent;
    border-bottom: 1px solid hsl(213,40%,90%);
  }

  /* States:  -1. Starting (initial)  0. Downloading  1. Finished  2. Failed  3. Canceled  4. Paused
               5. Starting (queued)  6. Blocked (parental)  7. Scanning  8. Blocked (dirty)  9. Blocked (policy)    */

  #downloadsPanel:not([keyfocus]) #downloadsListBox > richlistitem[type="download"][state="1"][exists]:hover {
    border-radius: 3px;
    border: 1px solid hsl(213,45%,65%);
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.5) inset,
                0 1px 0 hsla(0,0%,100%,.3) inset;
    background-image: linear-gradient(hsl(212,86%,92%), hsl(212,91%,86%));
    color: black;
  }
}
