/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

@supports (align-items:normal){ /* Firefox >= 46 */
  html {
    height: 100%;
  }

  body {
    display: flex;
    align-items: stretch;
    background-color: transparent;
    overflow: hidden;
  }

  #sectionTitle {
    float: left;
  }

  #refreshDiv {
    text-align: end;
    margin-bottom: 0.5em;
  }

  #refreshButton {
    vertical-align: middle;
  }

  /** Categories **/

  .category {
    cursor: pointer;
    /* Center category names */
    display: flex;
    align-items: center;
  }

  .category .category-name {
    pointer-events: none;
    white-space: nowrap;
  }

  #categories hr {
    border-top-color: transparent;
  }

  /** Warning container **/

  /* XXX: a lot of this is duplicated from info-pages.css since that stylesheet
     is incompatible with this type of layout */
  .warningBackground:not([hidden]) {
    display: flex;
  }

  .warningBackground {
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--in-content-page-background);
    overflow: hidden;
  }

  .warningBackground::before{
    content: "";
    flex: 1;
  }
  .warningBackground::after{
    content: "";
    flex: 2;
  }

  .container{
    min-width: calc(13em);
    max-width: calc(52em);
    padding: 18px 24px;
    padding-inline-start: calc(86.25px);
    overflow: auto;
  }
  @media (max-width: 480px) {
    .container {
      padding-inline-end: 5vw;
    }
  }

  .title {
    position: relative;
    border-bottom: 1px solid var(--in-content-box-border-color);
    margin-bottom: 1em;
    padding-bottom: 0.5em;
  }

  .title::before {
    content: "";
    left: -2.3em;
    top: 0;
    position: absolute;
    display: block;
    width: 1.6em;
    height: 1.6em;
    background: url("chrome://global/skin/icons/warning.svg") no-repeat left center;
    background-size: 1.6em;
  }

  .warningBackground button {
    margin-top: 1em;
    margin-left: 0;
    min-width: 100px;
  }

  /** Content area **/

  .main-content {
    flex: 1;
  }

  .tab {
    padding: 0.5em 0;
  }

  .tab table {
    /* border: 1 *** This line was in the default theme, apparently by mistake because the "1" has no units. */;
    width: 100%;
  }

  th, td, table {
    border-collapse: collapse;
    border: none;
    text-align: start;
  }

  th {
    padding-bottom: 0.5em;
    font-size: larger;
  }

  td {
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--in-content-box-border-color);
  }


  #body{
    min-width: 600px;
  }

/* REMOVED because now there are category icons available
  @media (max-width: 800px) {
    *|*.category-name {
      display: block;
    }
  }
 ********************************************************/

  .category[value]::before{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    min-width: 32px;
    margin-inline-start: 6px;
  }

  .category[value="http"]::before{
    content: "";
    background-image: url(chrome://mozapps/skin/aboutNetworking.svg#http);
  }
  .category[value="sockets"]::before{
    content: "";
    background-image: url(chrome://mozapps/skin/aboutNetworking.svg#sockets);
  }
  .category[value="dns"]::before{
    content: "";
    background-image: url(chrome://mozapps/skin/aboutNetworking.svg#dns);
  }
  .category[value="websockets"]::before{
    content: "";
    background-image: url(chrome://mozapps/skin/aboutNetworking.svg#websockets);
  }
  .category[value="dnslookuptool"]::before{
    content: "";
    background-image: url(chrome://mozapps/skin/aboutNetworking.svg#dnslookup);
  }
  .category[value="logging"]::before{
    content: "";
    background-image: url(chrome://mozapps/skin/aboutNetworking.svg#logging);
  }

  .header{
    border: none;
    margin: 0;
    padding: 0;
  }
  #sectionTitle{
    display: none;
  }
  #refreshDiv{
    font-size: 1.1rem;
    margin: 0 0 13px;
    -moz-padding-end: 2px;
  }
  #refreshButton{
    line-height: unset;
    font-size: 1.1rem;
    height: 23px;
    vertical-align: bottom;
    margin: 0;
    margin-inline-end: 8px;
    padding: 0 2px;
  }

  .main-content{
    padding: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
  }

  .main-content > div:not(.header){
    padding: 40px 48px;
    border: 1px solid var(--in-content-main-border-color);
    border-radius: 5px;
    overflow: auto;
    height: calc(100% - 43px);
    box-sizing: border-box;
    background-color: var(--in-content-main-background-color);
    background-image: var(--in-content-main-background-image);
  }

  .main-content > div:not(.header)> table{
    margin-bottom: 40px;
  }

  #logging > div {
    max-width: 800px;
    min-width: 400px;
  }

  #logging > div ~ div ~ div {
    text-align-last: justify;
    margin-top: 12px;
  }
  #logging > div > br {
    display: none;
  }

  #logging > div > button {
    padding: 0 8px;
  }

  #logging > div:nth-of-type(+2) > button {
    margin: 5px 0;
    margin-inline-start: 40px;
  }

  #logging > div > [id^="current-log"] {
    display: inline-block;
    margin-inline-start: 20px;
    min-width: 200px;
  }

  #logging > div > input {
    margin: 10px 12px;
    min-width: 50%;
    width: calc(100% - 200px);
  }

}


@supports not (align-items:normal) { /* Firefox < 46 */
  html {
    background: -moz-Dialog ;
  }
  #body{
    padding: 3em 30px;
    margin: 4em 0;
    font: message-box;
    color: -moz-FieldText;
    background: -moz-Field;
  }
  button{
    height: auto;
    min-height: unset;
    padding: 0 6px ;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
  }
  button:hover,
  button.selected{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(218, 218, 218, 0.4));
  }
  button:hover:active{
    background-image: linear-gradient(rgba(218, 218, 218, 0.8), rgba(225, 225, 225, 0.8));
  }
  #menu button.selected{
    color:#000;
    background-color:#ddd;
  }
  #warncheck,
  #autorefcheck{
    opacity: 1;
    position: static;
  }

  body {
    min-width: 330px;
    max-width: 100%;
    min-height: 330px;
    max-height: 100%;
  }

  #menu {
    position: absolute;
    top: 5px;
    color: gray;
  }

  .warningBackground {
    display: none;
    background: -moz-Dialog;
    width:100%;
    height:100%;
    z-index:10;
    top:0;
    left:0;
    position:fixed;
  }

  .warningMessage {
    color: -moz-FieldText;
    position: relative;
    min-width: 330px;
    max-width: 50em;
    margin: 4em auto;
    border: 1px solid ThreeDShadow;
    border-radius: 10px;
    padding: 3em;
    -moz-padding-start: 30px;
    background: -moz-Field;
    margin-left: auto;
    text-align: center;
  }

  .tab {
    display: none;
  }

  .active {
    display: block;
  }

  #menu .selected {
   color: blue;
  }

  #refreshdiv {
    top: 5px;
    position: absolute;
    right: 30px;
  }
}