/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

/*@supports (-moz-window-shadow:none) { /* Firefox < 44 */
@supports (orphans:3) { /* Firefox < 44 */

REMOVED-html {
  background: -moz-Dialog;
}

body {
  margin: 0;
  padding: 0 1em;
  NO-color: -moz-FieldText;
  NO-font: message-box;
}

REMOVED-h1 {
  margin: 0 0 .6em 0;
  border-bottom: 1px solid ThreeDLightShadow;
  font-size: 160%;
}

h2 {
  font-size: 130%;

  font-size: 1.3rem;
  font-weight: bold;
  line-height: 22px;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  margin: 4em auto 0;
/*  border: 1px solid #FFBD09; /* pale yellow extracted from yellow passport icon *%/
  border-radius: 10px; */
  padding: 3em;
  padding: 3em 3em 1.5em;
  -moz-padding-start: 30px;
  background: url("chrome://global/skin/icons/sslWarning.png") left 0 no-repeat -moz-Field;
  background: url("chrome://browser/skin/cert-error.svg") left 2px no-repeat;
  background-origin: content-box;
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 0;
  background-position: right 2px;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

.expander > button {
  -moz-padding-start: 20px;
  -moz-margin-start: -20px;
  background: url("chrome://browser/skin/aboutCertError_sectionExpanded.png") left center no-repeat;
  background: url("chrome://browser/skin/aboutCertError_section.svg#expanded") left center no-repeat;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.expander > button:-moz-dir(rtl) {
  background-position: right center;
}

.expander[collapsed] > button {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed.png");
  background-image: url("chrome://browser/skin/aboutCertError_section.svg#collapsed");
}

.expander[collapsed] > button:-moz-dir(rtl) {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed-rtl.png");
  background-image: url("chrome://browser/skin/aboutCertError_section.svg#collapsed-RTL");
}

#getMeOutOfHereButton {
  background-color: var(--in-content-primary-button-background);
  border: none;
  color: var(--in-content-selected-text);
  min-width: 250px;
  margin-inline-start: 0;
}

#getMeOutOfHereButton:hover {
  background-color: var(--in-content-primary-button-background-hover) !important;
}

#getMeOutOfHereButton:hover:active {
  background-color: var(--in-content-primary-button-background-active) !important;
}

} /* Firefox < 44 */





/*@supports (not (-moz-window-shadow:none)) { /* Firefox >= 44 */
@supports (not (orphans:3)) { /* Firefox >= 44 */


body {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 48px;
  align-items: center;
  justify-content: center;
}

#errorPageContainer {
  position: relative;
  min-width: 320px;
  max-width: 512px;
}

#errorTitle {
  background: url("chrome://browser/skin/cert-error.svg") left 0 no-repeat;
  background: url("chrome://browser/skin/cert-error.svg") left 2px no-repeat;
  background-size: 3em;
  margin-inline-start: -5em;
  padding-inline-start: 5em;
}

#errorTitle:-moz-dir(rtl) {
  background-position: right 0;
  background-position: right 2px;
}

#errorTitleText {
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 0.4em;
}

@media (max-width: 675px) {
  #errorTitle {
    padding-top: 0;
    background-image: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }
}

#buttonContainer {
  display: flex;
  flex-flow: row wrap;
}

#buttonSpacer {
  flex: 1;
}

#certificateErrorDebugInformation {
  display: none;
  background-color: var(--in-content-box-background-hover) !important;
  border-top: 1px solid var(--in-content-border-color);
  position: absolute;
  left: 0%;
  top: 100%;
  width: 65%;
  padding: 1em 17.5%;
}

#certificateErrorText {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 1em 0;
}

#errorCode {
  white-space: nowrap;
}

#returnButton {
  background-color: var(--in-content-primary-button-background);
  border: none;
  color: var(--in-content-selected-text);
  min-width: 250px;
  margin-inline-start: 0;
}

#returnButton:hover {
  background-color: var(--in-content-primary-button-background-hover) !important;
}

#returnButton:hover:active {
  background-color: var(--in-content-primary-button-background-active) !important;
}

#advancedButton {
  min-width: 150px;
}

/* Advanced section is hidden via inline styles until the link is clicked */
#advancedPanel {
  background-color: white;
  color: var(--in-content-text-color);
  border: 1px lightgray solid;
  /* Don't use top padding because the default p style has top padding, and it
   * makes the overall div look uneven */
  padding: 0 12px 10px;
  margin-top: 10px;
  box-shadow: 0 0 4px #ddd;
  font-size: 0.9em;
}

.hostname {
  font-weight: bold;
}

#reportCertificateErrorRetry,
#certificateErrorReporting,
#reportSendingMessage,
#reportSentMessage {
  display: none;
}

}
