/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

body {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 48px;
  align-items: center;
  justify-content: center;
}

ul, ol {
  margin: 0;
  padding: 0;
  -moz-margin-start: 1em;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: disc;
}

#errorPageContainer {
  position: relative;
  min-width: 320px;
  max-width: 512px;
}

#errorTitle {
  background: url("aboutNetError_info.svg") left 2px no-repeat;
  background-size: 45px; /* it was 3em */
  -moz-margin-start: -5em;
  -moz-padding-start: 5em;
}

#errorTitleText {
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 0.4em;
}

#errorTitle:-moz-dir(rtl) { /* It was #errorTitleText... (wrong!) --johnGraciliano */
  background-position: right 2px;
}

#errorTitleText[sslv3=true] #errorTitle, /* Firefox < 41 */
#errorTitle[sslv3=true],
#errorTitle[weakCrypto=true] {
  background-image: url("cert-error.svg");
}

#errorTryAgain {
  margin-top: 1.2em;
  min-width: 150px
}

#errorContainer {
  display: none;
}

@media (max-width: 675px) {
  #errorTitle,
  #errorTitleText[sslv3=true] #errorTitle,
  #errorTitle[sslv3=true],
  #errorTitle[weakCrypto=true] {
    padding-top: 0;
    background-image: none;
    -moz-padding-start: 0;
    -moz-margin-start: 0;
  }
}

/* Pressing the retry button will cause the cursor to flicker from a pointer to
 * not-allowed. Override the disabled cursor behaviour since we will never show
 * the button disabled as the initial state. */
button:disabled {
  cursor: pointer;
}

@supports (word-spacing:100%) { /* Test Firefox >= 45 */

#learnMoreContainer {
  display: none;
}

#buttonContainer {
  display: none;
  flex-flow: row wrap;
}

#buttonSpacer {
  flex: 1;
}

#returnButton {
  background-color: var(--in-content-primary-button-background);
  border: none;
  color: var(--in-content-selected-text);
  min-width: 250px;
  margin-inline-start: 0;
}

#returnButton:hover {
  background-color: var(--in-content-primary-button-background-hover) !important;
}

#returnButton:hover:active {
  background-color: var(--in-content-primary-button-background-active) !important;
}

#advancedButton {
  display: none;
  min-width: 150px;
}

#certificateErrorReporting,
#reportCertificateError, /* <- Firefox 45 needs this.  Not used in Firerox 46 and later. */
#reportSentMessage {
  display: none;
}

}

div#certificateErrorReporting,
div#weakCryptoAdvanced {
  display: none;
  float: right;
  /* Align with the "Try Again" button */
  margin-top: 22px;
  -moz-margin-end: 24px;
}
div#certificateErrorReporting:-moz-dir(rtl),
div#weakCryptoAdvanced:-moz-dir(rtl) {
  float: left;                                /* --johnGraciliano */
}
@supports (word-spacing:100%) { /* Firefox >= 45 */
div#certificateErrorReporting[id]{
  float: none;
  margin: 0;
}
}

div#certificateErrorReporting a,
div#weakCryptoAdvanced a {
  text-decoration: none;
}

div#certificateErrorReporting a:hover,
div#weakCryptoAdvanced a:hover {
  text-decoration: underline;
}

span.downArrow {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.6em;
  -moz-margin-start: 0.5em;
  transform: scaleY(0.7);
}

div#certificateErrorReportingPanel,
div#weakCryptoAdvancedPanel {
  /* Hidden until the link is clicked */
  display: none;
  background-color: white;
  border: 1px lightgray solid;
  /* Don't use top padding because the default p style has top padding, and it
   * makes the overall div look uneven */
  padding: 0 12px 12px 12px;
  box-shadow: 0 0 4px #ddd;
  font-size: 0.9em;
/*  position: absolute;  REMOVED IN FIREFOX 46 DEFAULT THEME, BUT I EXCLUDE FIREFOX 45 TOO (may be wrong) */
}

#errorTitle[weakCrypto=true] ~ div > #weakCryptoAdvancedPanel,
#errorTitle[weakCrypto=true] ~ #weakCryptoAdvancedPanel {
  margin-top: 10px;
}
#errorTitle[weakCrypto=true] ~ div > #weakCryptoAdvancedPanel:not([style="display: block;"]),
#errorTitle[weakCrypto=true] ~ #weakCryptoAdvancedPanel:not([style="display: block;"]) {
  display: block !important; /* Reserve the space for it. */
  visibility: hidden; /* Just leave the space */
  pointer-events: none; /* Make sure it behaves as if it is not there at all */
}

#errorStatePanel, /* FF >= 39 */
#overrideWeakCryptoPanel { /* FF >= 44 */
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 1em;
}

@supports (not (word-spacing:100%)) { /* Test Firefox < 45 */

div#certificateErrorReportingPanel,
div#weakCryptoAdvancedPanel {
  width: 75%;
  margin-top: 10px;
  position: absolute; /* This present in the default theme until Firefox 45 (removed since 46) but I am excluding 45 too */
}

div#certificateErrorReportingPanel:-moz-dir(ltr),
div#weakCryptoAdvancedPanel:-moz-dir(ltr) {
  left: 34%;
}

div#certificateErrorReportingPanel:-moz-dir(rtl),
div#weakCryptoAdvancedPanel:-moz-dir(rtl) {
  right: 34%;                               /* --johnGraciliano */
}

#errorStatePanel, /* FF >= 39 */
#overrideWeakCryptoPanel { /* FF >= 44 */
  display: flex;
  align-items: baseline; /* it was flex-start --johnGraciliano */
  margin-top: 0;
}

/* The following sets to correct alignment and spacing --johnGraciliano*/  
#learnMoreLink {
  line-height: 30px; /* As a button's height */
}

/* The following is to correct alignment and spacing --johnGraciliano*/  
button#reportCertificateError,
button#reportCertificateErrorRetry {
  margin: 0; /* The button's margin makes problem */
}

}

span#hostname {
  font-weight: bold;
}

#automaticallyReportInFuture {
  cursor: pointer;
}

#errorCode { /* For Firefox >= 45 */
  color: var(--in-content-page-color);
  cursor: text;
  text-decoration: none;
}

@supports (not (list-style:'-')) { /* Test Firefox < 39 */
  
#reportingState { /* FF < 39 */
  NOT-padding-left: 150px;
  -moz-padding-start: 150px;
}

#reportSendingMessage {
  position: relative;  /* FF < 39 */
  display: none;       /* FF < 39 */
  /* adjust the line-height to match the link */
  /* line-height: 22px; /* FF = 39 */
}

#reportSentMessage {
  position: relative;  /* FF < 39 */
  display: none;       /* FF < 39 */
  /* adjust the line-height to match the link */
  /* line-height: 22px; /* FF = 39 */
}

button#reportCertificateError {  /* FF < 39 */
  position: relative;
}

button#reportCertificateErrorRetry {  /* FF < 39 */
  position: relative;
  display: none;
}
}



button#errorTryAgain {
  background-color: var(--in-content-primary-button-background);
  border: none;
  color: var(--in-content-selected-text);
  min-width: 250px;
  margin-inline-start: 0;
}

button#errorTryAgain:hover {
  background-color: var(--in-content-primary-button-background-hover) !important;
}

button#errorTryAgain:hover:active {
  background-color: var(--in-content-primary-button-background-active) !important;
}

