/**  Additional customizations for Firefox Extensions */

/* Tab Groups */
:root #tabGroups-tabview-button {
  list-style-image: url("chrome://browser/skin/Toolbar.png");
  -moz-image-region: rect(0, 648px, 18px, 630px);
}
:root toolbar[brighttext] #tabGroups-tabview-button {
  list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
}
:root #tabGroups-tabview-button[cui-areatype="menu-panel"],
:root toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
  list-style-image: url(chrome://browser/skin/menuPanel.png);
  -moz-image-region: rect(0px, 608px, 32px, 576px);
}

/* Chatzilla */
#tb-chatzilla-open[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #tb-chatzilla-open {
  list-style-image: url(chrome://chatzilla/skin/images/logo.png)
}