/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 *  This defines the look-and-feel styling of the error pages.
 *  (see: netError.xhtml)
 *
 *  Original styling by William Price <bugzilla@mob.rice.edu>
 *  Updated by: Steven Garrity <steven@silverorange.com>
 *              Henrik Skupin  <mozilla@hskupin.info>
 *
 *  This file changed to accomodate a new style for the 'blacklist'
 *  class.  --johnGraciliano
 */

@import url("chrome://global/skin/in-content/common.css");


html  {
  background: #f0f0f0;
}

:root:not(.blacklist) body {
  margin: 0;
  padding: 0 1em;
  color: -moz-FieldText;
  font: message-box;

  background-color: transparent; /** --johnGraciliano **/
}

:root:not(.blacklist) h1 {
  margin: 0 0 .6em 0;
  border-bottom: 1px solid #e3e3e3;
  font-size: 160%;

  font-weight: bold; /** --johnGraciliano **/
}

ul, ol {
  margin: 0;
  -moz-margin-start: 1.5em;
  margin-inline-start: 1.5em;
  padding: 0;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: square;
}

:root:not(.blacklist) #errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  padding-inline-start: 30px;
}
#errorPageContainer {
  background: url("chrome://global/skin/icons/warning-large.png") left 0 no-repeat -moz-Field;
  background-origin: content-box;
}

#errorPageContainer.certerror {
  background-image: url("chrome://global/skin/icons/sslWarning.png");
}

#errorPageContainer:-moz-dir(rtl),
body[dir="rtl"] #errorPageContainer {
  background-position: right 0;
}
#errorPageContainer:dir(rtl) {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
  margin-inline-start: 80px;
}

:root:not(.blacklist) #errorLongContent {
  -moz-margin-start: 80px;
  margin-inline-start: 80px;
}

:root:not(.blacklist) #errorShortDesc > p {
  overflow: auto;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1em;
  font-size: 130%;
  white-space: pre-wrap;
}

:root:not(.blacklist) #errorLongDesc {
  -moz-padding-end: 3em;
  padding-inline-end: 3em;
  font-size: 110%;
}

#errorTryAgain {
  margin-top: 2em;
  -moz-margin-start: 80px;
  margin-inline-start: 80px;
}

#brand {
  position: absolute;
  right: 0;
  bottom: -1.5em;
  -moz-margin-end: 10px;
  margin-inline-end: 10px;
  opacity: .4;
}

#brand:-moz-dir(rtl) {
  right: auto;
  left: 0;
}
#brand:dir(rtl) {
  right: auto;
  left: 0;
}

#brand > p {
  margin: 0;
}

#errorContainer {
  display: none;
}

#securityOverrideDiv {
  padding-top: 10px;
}

#securityOverrideContent {
  background-color: InfoBackground;
  color: InfoText;
  padding: 10px;
  border-radius: 10px;
}

/* Custom styling for 'blacklist' error class */

:root.blacklist #errorTryAgain {
  display: none;
}

/* 
 * The 'blacklist' class has a new design.
 * All what follows is a modified version of:
 *   chrome://browser/skin/blockedSite.css
 */

:root.blacklist body {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 48px;
  align-items: center;
  justify-content: center;
  background-color: #b14646;
  color: white;
}

:root.blacklist ul,
:root.blacklist ol {
  -moz-margin-start: 1em;
  margin-inline-start: 1em;
}

:root.blacklist ul {
  list-style: disc;
}

:root.blacklist #errorPageContainer {
  position: relative;
  min-width: 320px;
  max-width: 512px;

  background: transparent; /** --johnGraciliano **/
}

:root.blacklist #errorTitle {
  background: url("chrome://global/skin/icons/blocked.svg") left 2px no-repeat;
  background-size: 45px; /* it was 3em */
  -moz-margin-start: -5em;
  margin-inline-start: -5em;
  -moz-padding-start: 5em;
  padding-inline-start: 5em;
}

:root.blacklist #errorTitle h1 {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 0.4em;
}

:root.blacklist #errorTitle:-moz-dir(rtl) {
  background-position: right 2px;
}
:root.blacklist #errorTitle:dir(rtl) {
  background-position: right 2px;
}

@media (max-width: 675px) {
  :root.blacklist #errorTitle {
    padding-top: 0;
    background-image: none;
    -moz-padding-start: 0;
    padding-inline-start: 0;
    -moz-margin-start: 0;
    margin-inline-start: 0;
  }
}

/* Pressing the retry button will cause the cursor to flicker from a pointer to
 * not-allowed. Override the disabled cursor behaviour since we will never show
 * the button disabled as the initial state. */
:root.blacklist button:disabled {
  cursor: pointer;
}

:root.blacklist #buttons {
  display: flex;
  justify-content: space-between;
}

:root.blacklist .button-spacer {
  flex: 1;
}

:root.blacklist #getMeOutButton {
  min-width: 250px;
  margin-inline-start: 0;
}

:root.blacklist #reportButton {
  display: block;
  min-width: 150px;
}

/*span#phishing_sitename,
span#malware_sitename */ 
:root.blacklist p > span[id] {
  font-weight: bold;
}


:root.blacklist #getMeOutButton {
  background-color: var(--in-content-primary-button-background);
  border: none;
  color: var(--in-content-selected-text);
  min-width: 250px;
  margin-inline-start: 0;
}

:root.blacklist #getMeOutButton:hover {
  background-color: var(--in-content-primary-button-background-hover) !important;
}

:root.blacklist #getMeOutButton:hover:active {
  background-color: var(--in-content-primary-button-background-active) !important;
}


:root.blacklist #reportButton {
  background-color: transparent;
  color: white;
  border: 1px solid #9b2e2e;
  margin-inline-end: 0;
}

:root.blacklist #reportButton:hover {
  background-color: #a83232;
}

:root.blacklist #reportButton:active {
  background-color: #9b2e2e;
}

:root.blacklist #buttons button {
  margin-top: 1.2em;
}

/* Style warning button to look like a small text link in the
   bottom right. This is preferable to just using a text link
   since there is already a mechanism in browser.js for trapping
   oncommand events from unprivileged chrome pages (BrowserOnCommand).*/
:root.blacklist #ignoreWarningButton {
  -moz-appearance: none;
  background: transparent;
  border: none;
  color: white;
  text-decoration: underline;
  margin: 4px 0 0 0;
  padding: 0;
  font-size: smaller;
  min-width: 0;
  position: static !important; /* Ignore top & left properties from elsewhere! */
}

:root.blacklist #ignoreWarningButton:hover {
  cursor: pointer;
}

:root.blacklist #ignoreWarning {
  margin-top: 1.2em;
  text-align: end;
}
