/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== textbox.css ==================================================
  == Styles used by the XUL textbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */

textbox {
  -moz-appearance: textfield;
  cursor: text;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px 1px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

.textbox-contextmenu {
  cursor: default;
}

/* ..... readonly state ..... */

textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

/* ..... disabled state ..... */

textbox[disabled="true"] {
  cursor: default;
  background-color: -moz-Dialog;
  color: GrayText;
}

/* ::::: plain textbox ::::: */

textbox.plain {
  -moz-appearance: none !important;
  background-color: transparent;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

textbox.plain html|*.textbox-input,
textbox.plain html|*.textbox-textarea {
  padding: 0px !important;
}

/* ::::: search textbox ::::: */

.textbox-search-icon {
  list-style-image: url(chrome://global/skin/icons/Search-glass.svg);
}

.textbox-search-icon:-moz-locale-dir(rtl) {
  list-style-image: url(chrome://global/skin/icons/Search-glass-RTL.svg);
}

.textbox-search-icon[searchbutton]:not([disabled]) {
  cursor: pointer;
}

.textbox-search-icon[searchbutton]:not([disabled]):active {
  opacity: .8;
}

.textbox-search-icon[disabled],
.textbox-search-icon:not([searchbutton]),
.textbox-search-icon:not(:hover):not(:active) {
  opacity: .7;
}

/* ::::: Clear textbox ::::: */

.textbox-search-clear {
  list-style-image: url("chrome://global/skin/icons/close.svg#normal");
}

.textbox-search-clear:not([disabled]) {
  cursor: default;
}

.textbox-search-clear:not([disabled]):hover {
  list-style-image: url("chrome://global/skin/icons/close.svg#hover");
}

.textbox-search-clear:not([disabled]):hover:active {
  list-style-image: url("chrome://global/skin/icons/close.svg#active");
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}


@media (-moz-windows-default-theme) {
  textbox html|*.textbox-input::-moz-placeholder {
    font-style: italic;
  }
}

