/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== alert.css =====================================================
  == Styles specific to the alerts dialog.
  ======================================================================= */

@import url("chrome://global/skin/alerts/alert-common.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#alertNotification {
  -moz-appearance: none;
  background: transparent;
  padding: 10px;
}

#alertBox {
  border: 1px solid ThreeDShadow;
  border-radius: 0;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
}

.alertCloseButton {
  -moz-appearance: none;
  padding: 4px 2px;
  border: none !important;
}

#alertTitleBox > .alertCloseBox {
  /* The close button is larger on Windows and has a large
     circle around it, so we add more space between the close
     button and the edge of the window. */
  margin-inline-end: 2px;
}

#alertSettings {
  /* The close button is larger on Windows, so the
     gear button is moved over to accomodate it and
     keep the two buttons horizontally aligned together. */
  margin-inline-end: 4px;
  margin-bottom: -1px;
}

@media (-moz-windows-default-theme) {
  #alertBox {
    border-color: #aaabac;
    background-color: rgba(255,255,255,.9);
    color: rgba(0,0,0,.9);
  }
}



/** Overides for old versions of Firefox */

@supports not (word-spacing:100%) { /* Firefox < 45 (where the transparent window background is not supported) */

  #alertNotification{
    padding: 0;
  }

}

@supports (orphans: 3) {  /* Firefox < 44 (different layout!) (Note: identified due to a bug: no version of Firefox supports 'orphans') */

  box:first-child > .alertImageBox {
    padding: 8px 0;
    width: 64px;
    background-color: -moz-Dialog;
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.6));
    -moz-border-end: 1px solid rgba(0,0,0,.1);
  }

  box:first-child > .alertTextBox {
    padding: 8px;
    -moz-padding-start: 16px;
    width: 255px;
  }

  box:first-child > .alertTextBox,
  .alertBox > .alertCloseBox {
    background-color: -moz-Dialog;
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1));
  }

  #alertNotification[clickable="true"]:hover box:first-child > .alertTextBox,
  #alertNotification[clickable="true"]:hover .alertBox > .alertCloseBox {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.3));
  }

  #alertBox:not([hasOrigin]) > box:first-child > #alertTextBox{
      padding-bottom: 8px; /* Added overide against newer style */
  }

  .alertTextBox > .alertTitle {
    font-weight: bold;
    font-size: 110%;
    -moz-box-flex: 0; /* Added overide against newer style */
    width: auto; /* Added overide against newer style */
    padding: 0; /* Added overide against newer style */
  }

  box:first-child > hbox > #alertImage {
    max-width: 48px;
    max-height: 48px;
    list-style-image: url(chrome://global/skin/alerts/notification-48.png);
    margin: 0; /* Added overide against newer style */
  }

  #alertNotification[clickable="true"] {
    cursor: pointer;
  }

  label {
    cursor: inherit;
  }

}

